[2018-04-15 16:05] Mirrorman95 opened #1 "Typos and Additional Options"
In README.md, it says: "You can also change FOLDERIN and FOLDERIN if you want." Shouldn't one of those be FOLDEROUT or something?
Also, shouldn't there be an option to choose which video filtering process you want to use? Like using upconv_7_anime_style_art_rgb, upconv_7_photo, anime_style_art_rgb, photo, or anime_style_art_y instead of just photo? I guess I could edit the .py files to use the app

[2018-05-16 16:04] K4YT3X commented on #1
Sorry but I just see this post. Since this project is initialized during a hackathon, the quality of the code isn't that decent comparing to some of my other projects. I have already added the option to specify video filter and I will work on all the other suggested enhancements.

Thank you for your valuable suggestions.

(It might take a while since I have a number of ongoing projects.)

[2018-05-19 05:08] K4YT3X commented on #1
Everything item this issue is resolved... I believe

[2018-05-19 05:08] #1 closed

[2018-06-13 09:30] Mirrorman95 opened #2 "JSON object must be str, not bytes"
I get this error when I try to run the latest version of video2x:
JSON object must be str, not bytes
I was able to fix it by changing video2x.py line 98 to the following:
return json.loads(json_str.decode('utf-8'))

I also had to perform the following package install commands to get this new version of video2x to run:
pip install tqdm
pip install avalon_framework
pip install colorama

That's not a

[2018-06-16 00:35] BeholdenCypress opened #3 "Several dependencies missing"
It says that I need to download both TQDM and Avalon Framework because they are showing up as modules that are missing

I downloaded TQDM from GitHub and that worked, however, I was then met with an error saying that there was no module called Avalon. I downloaded your Avalon package from GitHub but that did not work.

I ended up having to remove every instance of Avalon from the video2x.py in ord

[2018-06-18 19:43] Kaisogen opened #4 "ERROR when upscaling images. AttributeError: 'module' object has no attribute 'DEVNULL'"
[code]

[2018-06-24 04:37] Mirrorman95 commented on #3
It worked for me after I did the following package install commands:
pip install tqdm
pip install avalon_framework
pip install colorama

[2018-06-29 19:54] mystro1213 opened #5 "help"
can't seem to get it figured
installed python - downloaded ffmpeg-4.0.1.tar.bz2 and waifu
put everything in waifu folder use bat and python
need help on how specifically run it

[2018-07-31 14:27] K4YT3X commented on #3
@Mirrorman95 You're right. I should add a requirements.txt into the repository.

[2018-07-31 14:27] #3 closed

[2018-07-31 14:28] K4YT3X commented on #5
Did you modify the path variables within the python file?

[2018-07-31 14:29] K4YT3X commented on #2
Thanks a lot for the suggestions. I will change line 98 after I verify the issue. I will also add a requirements.txt and add dependency installation instructions.

[2018-08-02 01:42] K4YT3X commented on #2
I have already resolved the decode error and added a requirements.txt.
I will update the usages soon.
Thank you for the feedbacks.

[2018-08-02 01:42] #2 closed

[2018-08-02 01:45] K4YT3X commented on #4
I have edited your issue so it's easier to read.
Can you please tell me which version of python you're using? I'm trying to locate the problem.

[2018-08-07 11:56] pokedo0 opened #6 "Do not support the decimals for upscaled factor?"
Do not support the decimals for upscaled factor?

[2018-08-07 15:08] pokedo0 commented on #6
in the meantime, there is some problem occuring as merging the pics to video.
![Imgur](https://i.imgur.com/V0QUPvV.png)
![Imgur](https://i.imgur.com/MWrX8E3.png)
However, i successfully get the upscaled video at last.

[2018-08-07 20:50] K4YT3X commented on #6
Thank you for your issue!

The issue seems to me is that it's failing to merge the audio with the finished video. I am aware of that issue and I have been experimenting with it to see if I can solve it. If you check the destination that you specified for audio output, you should see a video file. If not, let me know.

The upscale factor doesn't support a decimal. I'm still hesitating whether to us

[2018-08-08 05:16] pokedo0 commented on #6
the audio seems crashed and the video track is ok.
the factor supports decimals for the offical waifu2x cafee, right?

[2018-08-08 20:56] K4YT3X commented on #6
The audio issue didn't exist when I first developed this script. I will have it fixed.
Waifu2x caffe, I think, only supports the [length]x[height] format, but I'll double check that.

[2018-08-15 15:27] pokedo0 commented on #6
All problem have been solved. Thx~

[2018-08-15 20:31] K4YT3X commented on #6
@pokedo0 good to hear! You're welcome.
I'm closing the issue then.

[2018-08-15 20:31] #6 closed

[2018-08-17 19:05] K4YT3X commented on #5
No response from issue owner.

[2018-08-17 19:05] #5 closed

[2018-08-17 19:05] K4YT3X commented on #4
No response from issue owner.

[2018-08-17 19:05] #4 closed

[2018-08-21 15:04] WSADKeysGaming opened #7 "Help starting out?"
Hi, Is this for linux or windows? Python doesn't support git cloning or change directory, but it is mentioned thru the instructions and tags.

[2018-08-21 21:40] K4YT3X commented on #7
Hello @WSADKeysGaming. This software is designed for Windows since it uses waifu2x-caffe. We currently have no plans migrating it to Linux.

Note that there's a dollar sign ($) in front of the git commands. That indicates that the command is a shell command instead of a python command. You are supposed to clone the repository with a Windows Git client. Alternatively, you may also download the repo

[2018-08-22 01:18] WSADKeysGaming commented on #7
Sudo is not recognized as a command in git, and I figured out myself that
pip must be installed into git, it doesn't come standard. You should have
that as a prerequisite, or a bash line before the rest of the commands.

On Tue, Aug 21, 2018, 4:40 PM K4YT3X <notifications@github.com> wrote:

[2018-08-22 21:36] K4YT3X commented on #7
@WSADKeysGaming that's my bad. You shouldn't need sudo if you're using pip for windows.
I will change that.

[2018-08-27 13:35] YachtSail opened #8 "ZeroDivisionError?"
After the program finished processing all the frames, the following message appeared:
video:4418846kB audio:0kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: unknown
[!] ERROR: An exception occurred
Traceback (most recent call last):
  File "video2x.py", line 215, in <module>
    video2x()
  File "video2x.py", line 150, in video2x
    framerate = float(Fraction(info['streams']

[2018-08-27 23:37] kwsou commented on #8
Just experienced this exact issue a moment ago. The problem lies in trying to obtain the framerate of the video from an non-video stream.

I figure for most of the time, the videos being used have the video stream before the audio stream, so the hardcoded `info['streams'][0]` will work but if the audio stream is first, it will use the information in that stream, which will have a framerate of 0/0.

[2018-08-29 04:34] K4YT3X commented on #8
@YachtSail thanks for the issue. Will take a look ASAP.

[2018-08-29 19:44] K4YT3X commented on #8
@YachtSail
I looked at the error and saw this line:

This software runs with Python3 which is declared in its shebang, where python2 is used in your case.
`python` command in the documentation doesn't define the version of Python, the code does.

To avoid confusion I might change the documentation too. Try using python3 first and see if the issue remains.

[2018-08-31 05:43] YachtSail commented on #8
Here is the error report:
[!] ERROR: An exception occurred
Traceback (most recent call last):
  File "video2x.py", line 215, in <module>
    video2x()
  File "video2x.py", line 150, in video2x
    framerate = float(Fraction(info['streams'][0]['avg_frame_rate']))
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python37-32\lib\fractions.py", line 178, in __new__
    raise ZeroDivisionEr

[2018-08-31 22:37] K4YT3X commented on #8
@YachtSail Roger that. Thanks to @kwsou 's comment which I read carefully, I will look into the problem and see if I can get a quick fix.

Sorry but you might have to stick to @kwsou 's fix for the moment.

[2018-09-01 21:41] K4YT3X commented on #8
@YachtSail @kwsou I will try to change from ffmpeg to ffmpeg-python and see if that will solve the problem. It should be a more elegant solution that just executing stuff from the commandline.

[2018-09-09 10:39] silentcr0w opened #9 "No Audio; No such file or directory"

[2018-09-11 21:40] K4YT3X commented on #9
Hello. I see that you have already closed the issue, but did you manage to solve it? Don't hesitate to reopen the issue if you want.

[2018-09-11 21:54] silentcr0w commented on #9
Nope, still havent solved it, any ideas of a solution?

On Wed, Sep 12, 2018 at 12:40 AM K4YT3X <notifications@github.com> wrote:

[2018-09-12 17:00] #9 closed

[2018-09-12 17:08] silentcr0w commented on #9
Can you make it support waifu2x-converter-cpp?, its for AMD GPUs.

On Wed, Sep 12, 2018 at 12:54 AM Ammar Khamdan <mr.xen98@gmail.com> wrote:

[2018-09-14 18:01] shinji257 opened #10 "File not found when filename contains spaces"
When providing a filename containing spaces it throws a file not found error only showing the first word in the filename.  The filename is quoted on the commandline but doesn't seem to carry over in the script.  This is with double quotes.  Suspecting they may be getting stripped I tried with single quotes but this just results in an argument error instead.

[2018-09-19 04:14] K4YT3X commented on #10
I saw your issue. I'm just feeling a little sick these few days.
I'll correct this as soon as I'm recovered.

[2018-09-20 13:50] shinji257 commented on #10
That's fine. Hope you feel better soon.

On Wed, Sep 19, 2018, 12:14 AM K4YT3X <notifications@github.com> wrote:

[2018-09-25 15:43] K4YT3X commented on #10
@shinji257 Thanks.
I'm already working on it. It seems like that using `os.system()` to call a exe file with arguments isn't a good idea. I have the issue fixed temporarily.

I will either switch to subprocess in the future, or I might just switch over to python-ffmpeg.

I'm currently still testing the program. I'll release it ASAP.

[2018-09-28 08:17] VanTanev opened #11 "Resume process"
Hello,

I was experimenting a bit with the program yesterday, and the core concept is neat but something that's really missing is a way to resume a video. In my testing, on a i7 5820k and 1080Ti, resolution doubling a single 22min 640x480 episode takes something close to 40 hours.

It would definitely be useful to be able to stop the transcode and then resume later.

Any ideas about how that shoul

[2018-09-29 03:52] K4YT3X commented on #11
Oh that is indeed a **very** long time.
I'll look into adding a pause function for the program, but it would take me a while as I'm busy handling some contests right now.

Just to make sure, are you using `--gpu` or `--cudnn`?

[2018-09-29 13:46] VanTanev commented on #11
With `--cudnn`, I am getting around `3.02s/it`, or around 28h for the episode.

With `--gpu`, it is around `4.20s/it`, or about 38 hours per episode.

[2018-09-29 14:33] VanTanev commented on #11
![image](https://user-images.githubusercontent.com/202527/46246754-263cc000-c40b-11e8-9809-80e2f059414d.png)

Looking at this usage pattern, I suspected that we were losing a lot of time to start/stop. Indeed, when I started the same process through `waifu2x-caffee` manually (with the gui) I got just over 3 hours to convert all frames. This means that we shouldn't be executing separate commands fo

[2018-09-29 14:46] K4YT3X commented on #11
@VanTanev That was what I am worried about when I added the progress bar into the program.
I tried to make it look a little better and show the progress, but now it seems like it's really hurting the performance. I will restore the older version of that code, and it should work better.

I'll notify you when it's done.

[2018-09-29 14:51] VanTanev commented on #11
Switching to `upconv_7_anime_style_art_rgb` model, I can complete the waifu2x step of full episode in 1:37h or so. Invoking `waifu2x-caffee-cui.exe` per image is definitely a HUGE waste of resources.

[2018-09-29 14:52] VanTanev commented on #11
Since waifu2x-caffee-cui has STDOUT of one line per image, we can probably still track progress with a bit of effort I think.

[2018-09-29 14:57] K4YT3X commented on #11
@VanTanev I'll see if I can make use of the STDOUT message.
For now, I have already restored the older code and it works like this:
![image](https://user-images.githubusercontent.com/21986859/46247247-78afb980-c3d6-11e8-95fd-8bd79be8a195.png)

[2018-09-29 14:58] K4YT3X commented on #11
I will push the current version for you to see if it makes any difference for your videos.

[2018-09-29 15:00] K4YT3X commented on #11
@VanTanev Also, for batch conversion, waifu2x engine only gives one "success" message for the entire conversion. Therefore I don't think I'll be able to make a progress bar without sacrificing (killing) the performance.
![image](https://user-images.githubusercontent.com/21986859/46247263-d7753300-c3d6-11e8-9261-a52664dbce31.png)

[2018-09-29 15:03] K4YT3X commented on #11
@VanTanev I have pushed the code into the repo. Try it out!

[2018-09-29 23:56] K4YT3X commented on #10
@shinji257 I think I already have it fixed in the previous update.
Please confirm.

[2018-10-01 04:10] #10 closed

[2018-10-05 22:27] K4YT3X commented on #11
I forgot that this is not just about the batch conversion, but also the resuming function.
I'll reopen the issue and keep working on it.

[2018-10-19 21:29] K4YT3X commented on #11
@VanTanev I just thought this through again. The enlarging process is taken care of by waifu2x. Therefore, I don't think there's anything that I can do unless I process each separately, which as you said, will cause the efficiency to drop drastically.

[2018-10-19 21:29] #11 closed

[2018-10-21 17:35] wuast94 opened #12 "AttributeError: module 'avalon_framework' has no attribute 'FM'"
I get error:
[code]

[2018-10-21 17:45] K4YT3X commented on #12
@wuast94 Thanks for the issue and sorry about the error. The framework was update a day ago, and I haven't updated all the programs that are using this framework yet. I'll do it right now.

[2018-10-21 17:50] K4YT3X commented on #12
Alright the issue should be fixed by now.

[2018-10-21 17:50] #12 closed

[2018-10-21 18:12] wuast94 opened #13 "FileNotFoundError"
an i get the next error :D

[!] ERROR: An exception occurred
Traceback (most recent call last):
  File "video2x.py", line 207, in <module>
    video2x()
  File "video2x.py", line 144, in video2x
    fm.extract_frames(args.video, FRAMES)
  File "C:\Users\Marcd\Desktop\videoenlarger\video2x-master\ffmpeg.py", line 41, in extract_frames
    subprocess.call(execute)
  File "C:\Users\Marcd\AppData\Loca

[2018-10-21 18:31] wuast94 commented on #13
found the error. im loaded the wrong ffmpeg binarys

[2018-10-21 18:38] wuast94 opened #14 "ProgressBar"
is it possible to implement a Progress Bar or something simlair ? for upscaling progress

[2018-10-21 20:12] K4YT3X commented on #13
@wuast94 so is it resolved right now?

[2018-10-21 20:14] K4YT3X commented on #14
We had a progress bar the previous version, which will require each image to be processed separately. You can see the screenshots and explanations in  #11.

[2018-10-21 20:14] #14 closed

[2018-10-21 21:04] K4YT3X commented on #9
Please open new threads if you want something different.

[2018-10-21 21:43] wuast94 commented on #11
I think about the performance too..my gtx 1080 chills and I can hear (yes) everything my pc do..and I hear every image is processed. And my gpu don't is used very much.

So can we make it more "multithreaded"? Not frame by frame more like x frames at one time. Or x videos at the same time?

Would love to say..hey..here is my folder with x video files..go for it and make magic :P

[2018-10-21 21:43] wuast94 commented on #13
Yes you can close it :)

[2018-10-21 21:45] #13 closed

[2018-10-21 21:47] K4YT3X commented on #11
All the enlarging are handled by the waifu2x-caffe binary. I'm not sure if we can multi-thread this thing.

[2018-10-21 21:58] WSADKeysGaming commented on #11
https://github.com/imPRAGMA/W2XKit

PRAGMA's similar program let's you define how many threads waifu2x uses at
once.

On Sun, Oct 21, 2018, 4:47 PM K4YT3X <notifications@github.com> wrote:

[2018-10-21 22:10] K4YT3X commented on #11
@WSADKeysGaming interesting. I guess we are going to have multithreading then.

[2018-10-21 22:17] WSADKeysGaming commented on #11
Another thing I wanted to ask you about, is waifu2x doing one image at a
time and then closing? It's based off of deep learning, so I would suggest
it doing multiple images at a time before closing, it seemed to do that
faster when I did it manually, by opening up 12 programs, and then once I
had the frames extracted with virtualdub, I put about five thousand frames
in each program, and set them o

[2018-10-21 23:39] wuast94 opened #15 "Add Multithreading"
Based on #11,

Enhance the overall performance with **multithreading**.

~~1. try to make waifu2x going to make multible pictures at once and not one by one.
https://github.com/K4YT3X/video2x/issues/11#issuecomment-431707841~~

~~1. Add a feature for adding folder within multiple files.
https://github.com/K4YT3X/video2x/issues/11#issuecomment-431706764~~

[2018-10-22 18:16] K4YT3X commented on #15
Hello @wuast94, thanks for opening a new issue. I already have the new version with multithreading ready last night. However, due to the GitHub outage (at least at my area), I wasn't able to interact with GitHub.

I have edited your issue, and here are the changes:

https://github.com/K4YT3X/video2x/issues/11#issuecomment-431707841

This statement is misleading. `video2x` is already telling waifu2

[2018-10-22 19:28] wuast94 opened #16 "Bulk Enlarge Videos in a Folder"
Would be nice to select a entire folder with ~~multible files~~ multiple video files..

[2018-10-22 19:29] wuast94 opened #17 "add option for scaling"
would be nice to say i want the file x times larger and not to tell the exact resolution.

[2018-10-22 19:42] K4YT3X commented on #17
We used to have this option, `-f, --factor` for scaling. However, since waifu2x takes in the format of "widthxheignt", I removed it since some videos were out of ratio for some reasons after upscaling. I will look into getting this feature back, because I know it would be a nice thing to have.

And you're welcome. This project was developed during the hackathon "hackthevalley 2", where we didn't e

[2018-10-22 19:45] K4YT3X commented on #16
@wuast94 That will be a nice feature to have if an entire season of something needs to be enlarges. I will work on that once I get #17 done.

I changed the wording a bit so it's more specific.

[2018-10-22 19:47] K4YT3X commented on #15
@wuast94 ok I get you. Yeah that's multithreading. Starting version 2.1.0, video2x will create 5 waifu2x-caffe rendering threads by default. You can already try it out.

[2018-10-22 20:06] WSADKeysGaming commented on #7
Sorry for reopening this, but installing python with pip from the link you provided still does not recognize the git clone command.

[2018-10-22 20:42] wuast94 commented on #17
would love to help coding but i´m not a coder :D can read a lot of things but never coded my self :/ but it´s a thing i should learn :D

[2018-10-22 20:50] WSADKeysGaming commented on #7
I'm sorry, even though you can download the repo as a zip and not through
the git program, is it still required to use the change directory command
that is mentioned in the first line of instructions?

On Sun, Aug 26, 2018, 4:20 PM K4YT3X <notifications@github.com> wrote:

[2018-10-22 22:51] K4YT3X commented on #17
It's nice to be able to code, so you can make anything that you want or need.

[2018-10-22 22:54] K4YT3X commented on #11
@WSADKeysGaming waifu2x processes multiple images before closing.
You can look at the GPU usage here https://github.com/K4YT3X/video2x/issues/11#issuecomment-425651230. Notice how the curve is shaped, it processes all the images in the sequence and then closes. It shouldn't be a concern that computing power is being wasted.

We're also doing multithreading right, so you should get an even-better p

[2018-10-22 22:57] K4YT3X commented on #7
Nah just make sure you're in the same directory as where all the `.py` files are and you're good to go.

[2018-10-22 23:16] WSADKeysGaming commented on #7
That's with the command
">Import os

Right? I'm still learning python, sorry

On Mon, Oct 22, 2018, 5:57 PM K4YT3X <notifications@github.com> wrote:

[2018-10-22 23:28] WSADKeysGaming commented on #7
Boy am I an idiot. Thanks. Saved me from going back to the project I
mentioned before.

On Mon, Oct 22, 2018, 6:27 PM K4YT3X <notifications@github.com> wrote:

[2018-10-22 23:32] WSADKeysGaming commented on #11
Great news! Hoping my 1080 will work it's magic then soon.

On Mon, Oct 22, 2018, 5:54 PM K4YT3X <notifications@github.com> wrote:

[2018-10-23 00:19] WSADKeysGaming opened #18 "FileNotFoundError: "C:/Program Files (x86)/ffmpeg/bin/ffmpeg.exe""
[code]

[2018-10-23 00:33] K4YT3X commented on #11
@WSADKeysGaming I sure hope that too.

[2018-10-23 00:36] K4YT3X commented on #18
I admit that part is a bit counter-intuitive for average users, maybe I'll consider making an anto-deploy for all the dependencies. It shouldn't be hard.

[2018-10-23 00:47] WSADKeysGaming commented on #18
I found an FF MPEG binary in my documents folder that I used for another
program, thought it would be okay, but I guess I needed the updated
version. Works now

On Mon, Oct 22, 2018, 7:24 PM K4YT3X <notifications@github.com> wrote:

[2018-10-23 00:48] K4YT3X commented on #18
Congrats that it works. I'm closing the issue then.

[2018-10-23 00:48] #18 closed

[2018-10-23 05:07] K4YT3X opened #19 "Dependencies Auto-install Script"
## Abstract

Add a script that will deploy all dependencies automatically upon execution.

## Detailed Description

It may be hard for users not having knowledge about CLI to get started with video2x. A script that will install all dependencies automatically could simplify the process. Therefore a decision has been made that this script should be added into the mix.

Modules to be installed includ

[2018-10-23 06:53] wuast94 opened #20 "add Config file"
I think a Config file would be nice for the path of ffmpeg and waifu2x (and any other ?). When updating for now i must go into the main file and edit it

[2018-10-23 06:54] wuast94 commented on #15
Small test runs´s godd and i think fast too. bigger test is running now with 8 Threads

[2018-10-23 06:59] wuast94 commented on #15
Just a bit bad formatting but that are the smaller things :)
![image](https://user-images.githubusercontent.com/16965460/47341545-8e489400-d6a1-11e8-935d-0d1d37c90c3e.png)

Now my Gpu is under 100% Compute in task manager. I think you got it .. good work :)

[2018-10-23 13:33] K4YT3X commented on #20
I was actually thinking about the same thing. A JSON file will be a nice-to-have. I'll work on it.

[2018-10-23 15:00] K4YT3X commented on #15
@wuast94 I am aware of that problem. It's just when you have multiple threads printing on the same screen, the output stream conflicts. I'll add a thread lock like what I did to my konadl project. Should be an easy fix, doesn't even need an issue.

[2018-10-23 16:35] K4YT3X commented on #15
The printing issue should also be fixed by now. I'll test it tonight.

[2018-10-23 16:35] #15 closed

[2018-10-23 16:36] #8 closed

[2018-10-23 17:13] K4YT3X commented on #20
Config file should already be usable in 2.1.2. I've also included a config file generator. See if that makes it easier for you.

[2018-10-23 17:13] #20 closed

[2018-10-23 17:31] WSADKeysGaming commented on #15
Is the performance effect on multithreading measures? I was thinking of a
progress bar added back if the performance was similar before the progress
bar and multithreading.
On Tue, Oct 23, 2018, 11:41 AM K4YT3X <notifications@github.com> wrote:

[2018-10-23 21:36] wuast94 commented on #15
I can't test how much threads and performance I can get becouse my cpu is rip and I must ship it to dealer to repair it. But I think I can get more threads running :P

[2018-11-01 20:47] wuast94 opened #21 "Images Unprocessed When Using CUDNN"
So im back and now having this error:

[code]

[2018-11-01 20:51] wuast94 opened #22 "Add GPU Acceleration for FFMPEG"
When i use --gpu all threads are starting but using Cpu

[2018-11-01 20:52] wuast94 commented on #21
it only comes if i use cudnn flag

[2018-11-01 22:16] K4YT3X commented on #21
Do you have CUDNN drivers installed?

[2018-11-01 22:17] K4YT3X commented on #22
Video2x passes that argument through to waifu2x-caffe. Do you have proper CUDA drivers installed?

[2018-11-02 04:39] wuast94 commented on #22
All nvidea drivers are installed. Are cuda drivers seperatly ? I thibk i testes with waifu direct with cuda without problems. But i test this to be sure

[2018-11-02 04:46] K4YT3X commented on #22
Nvidia drivers should be sufficient. Note that during the beginning of the process, CPU and RAM will be peaking before you see the GPU doing anything.

[2018-11-02 05:00] wuast94 commented on #22
But cpu just for ffmpeg ? Or am i wrong ?

[2018-11-02 05:02] K4YT3X commented on #22
I took a look at the documentations and my code.

1. FFMPEG in my code indeed uses only CPU.
1. FFMPEG supports GPU acceleration.

I think it's time to add it.

[2018-11-03 01:53] K4YT3X commented on #22
I think hardware acceleration for ffmpeg is working right now.
Hardware acceleration will be enabled by if `--gpu` or `--cudnn` is given.

[2018-11-03 01:53] #22 closed

[2018-11-05 15:29] cr08 opened #23 "'frames' folder split leaving random frame out, breaking post-upscale encode step"
Decided to give this a go on a test video this morning. A roughly 22-25 minute video with approx. 35k frames. One thing I ran into is that somewhere during the process where it breaks the frames out into equal folders depending on the number of upscaler threads use for whatever reason in my test left out a single frame. So essentially I had this:

frames
-- \0\
-- \1\
-- \2\
-- \extracted_9999.png

[2018-11-05 15:36] K4YT3X commented on #21
@cr08 I already have the CUDNN drivers installed a long time ago before I brought this project back to life. Also I have no extra hardware to test this software without CUDNN installed.

Therefore I'll figure out, somehow, how to test this script properly. Maybe I'll have to get another installation of Windows on a separate hard drive.

[2018-11-05 15:43] K4YT3X commented on #23
@cr08 I'll will take a look at this problem.
The multi-threading function has just been added not too long ago, and this might as well be a fatal bug.

As for the performance, here's what I got on my system.
- My 16 DDR4 is used up to 95% when upscaler threads are initializing, and soon it drops down to normal, so does the CPU usage drop down quite a bit.
- The GPU computing usage gets up to 90-10

[2018-11-05 15:55] K4YT3X commented on #23
Also, make sure you're using the newest version of video2x. The latest changes has been made for fixing bugs within the multithreading function.

Also, the part where video2x places frames into folders it at line 150, video2x.py. Maybe you can find some issues there?

[2018-11-05 17:20] cr08 commented on #23
I'm running the latest commit. Downloaded fresh this morning.

I wonder if it might be a simple math issue. I rechecked and the exact number of frames in this video is 35,763. 3 threads means it is divided up to 11,891 frames per thread with one frame left over.

[2018-11-05 17:24] K4YT3X commented on #23
@cr08 I think that's exactly where the problem is.

I'm running Kali right now and doesn't have access to a windows workstation at the moment. I'll make the changes when I get back home.

Or you can submit a pull request (wink :P

[2018-11-05 17:44] K4YT3X commented on #23
@cr08 Actually, never mind. I was able to RDP into my server and test the patch.
I have just pushed a new commit into the repo which should fix the problem.

This might be a less stupid way of distributing images evenly.
[code]

[2018-11-06 03:55] cr08 commented on #23
So far so good. Ran a few shorter clips through with varying frame counts and no issues.

[2018-11-06 14:21] K4YT3X commented on #23
If all's fine, then I'll close this issue.
We can reopen it any time if it's still malfunctioning.

[2018-11-06 14:21] #23 closed

[2018-11-09 02:40] cr08 opened #24 "Some quality-of-life improvements (command line arguments and core processing tweaks)"
So been playing around with this script a bit more. I have an old show of about ~90 episodes I'd like to start processing with this. Some things that immediately came to mind that could probably be improved upon:

1) Currently the 'demux' and 'remux' stages assume a single AAC audio track and fail if there's any other formats used and miss secondary audio tracks. Being able to dynamically work wit

[2018-11-09 03:50] K4YT3X commented on #24
@cr08 I'll have to thank you before I get to what you've just said. I love getting useful and well structured suggestions like yours from the community.

And to answer each of your points:

1. Yes, I agree that video2x isn't handling streams very well. I'll have to read deeper into how video/audio streams work before I can enhance the experience properly.

1. You can already add FFMPEG arguments m

[2018-11-13 16:20] cr08 commented on #24
I think I've figured out the stream bit after toying around with ffmpeg and finding some obscure superuser.com posts. This is essentially what I have come up with:

`ffmpeg -i ORIG_VIDEO.mkv -i upscaled\no_audio.mp4 -map 1:v:0 -map 0 -c copy -map -0:v FINAL_MUX.mkv`

This is assuming the original video is still intact during this process which it should be. We are initially pulling in both the ori

[2018-11-15 21:47] K4YT3X commented on #24
@cr08 Thanks for the explaination for the map option.

The most ideal way for this project to be written will be to use the python-ffmpeg library instead of the ffmpeg binary. I still really want to look into the library.

The only way I can add customization into every ffmpeg command is to create a separate entry for every ffmpeg command executed, which will be quite some work, and deosn't seem v

[2018-11-23 17:26] Azeemotron opened #25 "KeyError: 'ffmpeg_hwaccel'"
I'm in understanding that i've installed all Prerequisites. I've checked that they are correctly installed by typing 'ffmpeg' or 'python' in cmd.

I've also defined in the Config generator the location of the installed prerequisties, although I didn't know what to write for arguments passed ffmpeg or something along those lines.

When i try to use the program and type in what is required, I am met

[2018-11-23 18:39] K4YT3X commented on #25
I think there might be an error in the JSON file, which is an error on my part. I'll take a look as soon as I'm home.

[2018-11-24 23:05] K4YT3X commented on #25
@Azeemotron can you please check that you're on the latest version of video2x? Just do a git pull to make sure that you have the latest version of the configuration file.

[2018-11-26 19:02] K4YT3X commented on #25
@Azeemotron Yes it would be. I just checked the config generator and what you did indeed caused a problem. I will mark this as a bug, fix it and push an update.

[2018-11-26 19:17] K4YT3X commented on #25
@Azeemotron I've just pushed a fix for this bug. Try it out.

[2018-11-26 19:18] K4YT3X commented on #21
Closing this issue due to inactivity. Feel free to repoen it at any time.

[2018-11-26 19:19] #21 closed

[2018-11-28 06:05] #25 closed

[2018-11-28 16:30] TigerSpartan commented on #19
Where is de auto script (? I need it :c

[2018-11-29 06:34] K4YT3X commented on #19
@TigerSpartan it's almost done. I'm just doing some final tests and I will make a beta release.

[2018-11-29 20:13] K4YT3X commented on #19
@TigerSpartan I have pushed the script. Try it out!
Just clone the newest version and run the script:

[code]

[2018-11-30 00:17] TigerSpartan commented on #19
@K4YT3X Thanks bro, it worked for me! :D

[2018-11-30 22:14] sok0 opened #26 "Can't figure out what features are available..."
1. always throws and error that there is no factor specified, even when using height and width, even when a factor is specified

2. gpu always throws an error
[!] ERROR: An exception occurred
Traceback (most recent call last):
  File "video2x.py", line 357, in <module>
    video2x()
  File "video2x.py", line 207, in video2x
    ffmpeg_arguments.append('-hwaccel {}'.format(ffmpeg_hwaccel))
Attribut

[2018-11-30 22:16] sok0 commented on #26
this is what happens when attempting to use height and width

c:\Documents\Downloads\video2x-master>python video2x.py -v testvid.mp4 -o testvid2.mp4 --width 1000 --height 1000 --gpu
__      __  _       _                  ___   __   __
\ \    / / (_)     | |                |__ \  \ \ / /
 \ \  / /   _    __| |   ___    ___      ) |  \ V /
  \ \/ /   | |  / _` |  / _ \  / _ \    / /    > <
   \  /

[2018-11-30 22:16] sok0 commented on #26
when attempting to use factor:

c:\Documents\Downloads\video2x-master>python video2x.py -v testvid.mp4 -o testvid2.mp4 --f 2 --gpu
__      __  _       _                  ___   __   __
\ \    / / (_)     | |                |__ \  \ \ / /
 \ \  / /   _    __| |   ___    ___      ) |  \ V /
  \ \/ /   | |  / _` |  / _ \  / _ \    / /    > <
   \  /    | | | (_| | |  __/ | (_) |  / /_   / . \
    \/

[2018-11-30 23:07] K4YT3X commented on #26
@sok0 I will look into it immediately. Give me a second.

[2018-12-01 00:57] K4YT3X commented on #26
[Commit #71](https://github.com/K4YT3X/video2x/commit/d6f1bae2e6f07bfe226379f07c229a3570de3dc5) has been released to fix this problem. The patch should fix this problem.

Sorry about this bug. I have recently virtualized my workstation, so I was unable to do a test run before releasing the current version. I was able to debug just now it in a VM.

[2018-12-01 14:43] #26 closed

[2018-12-04 07:17] gmonteir opened #27 "An exception occurred"
I'm getting this error when running the program:

[code]

[2018-12-04 07:55] K4YT3X commented on #27
Thanks for reporting this bug. I have just pushed the patch to this bug. It should be fixed by now.

[2018-12-04 07:55] #27 closed

[2018-12-16 14:35] chiwing4 opened #28 "Check failed: error == cudaSuccess (2 vs. 0) out of memory"
## K4YT3X Edit: Temporary Solution

The issue is caused by waifu2x-caffe not having sufficient memory. A temporary solution to this problem is to reduce the number of threads used.

## Original Issue

Hi, the program failed and I am having the following exception when I use --gpu to enlarge.
I believe my machine has enough memory to run it.
It there any way to fix it?
Many thanks. This is a useful

[2018-12-16 14:42] chiwing4 commented on #28
For your reference, just in case.
my command:
py video2x.py -v testvid.mp4 -o new.mp4 --width 3840 --height 2160 --gpu
using Python 3.7.1
spec:
32GB RAM
RTX 2080ti
running in a disk with 450+GB space

Thanks

[2018-12-17 03:59] K4YT3X commented on #28
That looks weird. I saw the issue this morning but has yet located the problem. Just know that I've already see the problem and is working on it.

There's a big update coming soon. This issue might have to be fixed after the update which is already in process.

[2018-12-17 04:38] chiwing4 commented on #28
Thanks for your quick reply!
I look forward to have the new update.

[2018-12-17 15:16] asimonf commented on #28
Just hit this right now. Hopefully you'll be able to figure it out

[2018-12-17 17:57] WSADKeysGaming opened #29 "Extracting frames stopping"
Ffmpeg stops extracting frames after a certain period of time, around 25 seconds. I know it is time based, because it was a different amount of frames before it stopped on my ssd vs my hdd with the same video. No cpu or disk usage, complete halt. All i have done is cloned the git and used the setup.py.

Edit: this only happens when you lose focus of the cmd window. Whoops.

[2018-12-17 17:58] #29 closed

[2018-12-17 18:09] WSADKeysGaming commented on #28
This also happens to me, even after reducing the amount of threads from 5 to 4, because I have insufficient memory available

[2018-12-17 19:46] K4YT3X commented on #28
Could you please monitor the system to make sure that there's sufficient memory available for both the system RAM and the GPU RAM?

[2018-12-17 20:10] K4YT3X commented on #29
That's a strange issue..
FFMPEG binaries will eventually be replaced by python-ffmpeg, so issues like this should be reduced by then.

[2018-12-17 20:18] K4YT3X commented on #15
@WSADKeysGaming we had a progress bar before, but that requires each image to be processed separately since waifu2x-caffe only outputs one line at the end no matter how many frames you upscale. However, upscaling each image individually really hurts the performance, as mentioned in #11 .

[2018-12-17 20:34] K4YT3X commented on #28
@asimonf so that is indeed the problem. My program is able to monitor the system memory and give suggestions on how many threads should be used, and warns the user when insufficient memory is available. However, this program doesn't have the capability to monitor GPU memory, which reflects as a CUDA error in @chiwing4 's ouput as "cudaSuccess out of memory".

I remember that I've already looked in

[2018-12-17 20:38] asimonf commented on #28
My current testing with your file shows around 1.4 GB of memory per thread. I don't know if memory usage grows with output size, but if it does, it might even more (testing output at 1440x1080). I'll test a bit more. A good suggestion could be to limit threads assuming a maximum usage of 2GB per thread?

[2018-12-17 20:39] K4YT3X commented on #28
Maybe it's possible. I'll have to look into if waifu2x-caffe has any options for that.

[2018-12-17 23:55] WSADKeysGaming commented on #29
Yeah, but there's nothing to fix, it was user error

[2018-12-18 13:02] chiwing4 commented on #28
OK I can confirm this is GPU out of memory problem.
GPU memory usage when idle : 1.9GB
running with 1 thread: 6GB
with 2 threads:  9.6GB
with 3 threads: out of memory
My testing show ~4GB VRAM per thread.

Output to 1080p and 4K has the same memory usage.
I though 2080ti could handle this well. lol
[https://imgur.com/a/ALTNPpR](url)

[2018-12-18 13:46] chiwing4 commented on #28
I just enlarged the testvid.mp4 (240 frames, 320 x 240) to 1080p and 4K.
While VRAM usage are the same, process time are different as expected.
With 2 Threads:
- out 1080p : 465 seconds
- out 4K : 1778 seconds

4K needs nearly 4x computational time than 1080p. (Interesting. 4K has 4 times more pixels than 1080p)

[2018-12-18 14:36] asimonf commented on #28
Interesting. I thought it would be much faster. I tried an OpenCL version on my house computer (It has a Vega 56 card) and it took about that long for the 1080 one. I might not be remembering accurately, so I'll try testing again tonight.

[2018-12-18 14:48] K4YT3X commented on #28
@asimonf I thought waifu2x only supports cuda? Maybe I'm wrong on that. I don't have an AMD card to test things out.

[2018-12-18 14:53] asimonf commented on #28
Yes, but there's a rewrite in C++ that is compatible with CUDA and OpenCL. I haven't tested enough to see if quality is similar. I just tested speed yesterday. It might not be the same (but it does use the same models for the NN though, so it can't be that different). Here's the link: https://github.com/DeadSix27/waifu2x-converter-cpp.

I doubt it's faster than the original waifu2x on nvidia cards

[2018-12-18 14:55] K4YT3X commented on #28
That's cool. It's fascinating how many derivations there are from the original waifu2x.

[2018-12-18 15:17] asimonf commented on #28
So I just tested it on the Vega 56 and it took 432 seconds to process all 240 frames with upscale and denoise to 1440x1080. I can't really compare it 100% to what waifu2x-caffe does with video2x, but apparently it isn't that slow compared to the 2080ti *if* (and this is a big if) they are working to generate similar quality images.

[2018-12-18 18:54] WSADKeysGaming commented on #29
Interestingly enough, I had the same problem today, but I had to press the
spacebar for upscaler to start after ffmpeg finished extraction

On Mon, Dec 17, 2018, 2:10 PM K4YT3X <notifications@github.com wrote:

[2018-12-18 20:52] K4YT3X commented on #29
Are you using the windows built in come?

[2018-12-18 21:59] WSADKeysGaming commented on #29
*"* windows built in come"

*come* again?

On Tue, Dec 18, 2018 at 3:52 PM K4YT3X <notifications@github.com> wrote:

[2018-12-20 04:55] SnaxxNZ opened #30 "AMD / OpenCV support?"
Is there any chance this can be updated to include support for AMD cards?

ffmpeg supports AMD/VCE and there is a version of Waifu2x that supports AMD (and intel) here - https://github.com/DeadSix27/waifu2x-converter-cpp

[2018-12-20 05:56] K4YT3X commented on #30
Since you asked, I don't see why we don't.

Version 2.2.0 is still being tested. AMD support will be scheduled for the next version.

[2018-12-20 06:34] SnaxxNZ commented on #30
Oh that's awesome.

Thanks heaps.

[2018-12-21 02:04] keyutao9 opened #31 "Always give an error when zooming in"
Trailing options were found on the commandline.
G:\video2x-master\video2x-master\upscaled\no_audio.mp4: No such file or directory
[+] INFO: Program completed, taking 19.93307 seconds

[2018-12-21 04:56] K4YT3X commented on #31
It seems like that the upscale has failed. Could you please provide the full log or a screenshot?

[2018-12-21 04:59] keyutao9 commented on #31
Chóngxīn ānzhuāng zhīhòu wèntí jiějuéle, qǐngwèn zuòzhě lèisì de chāo fēnbiàn lǜ ruǎnjiàn hái yǒu ma?Waifu2X màosì zhǐ néng fàngdà mànhuà, fàngdà pǔtōng shìpín gǎnjué méiyǒu xiàoguǒ
57/5000
After the reinstallation, the problem is solved. Does the author have similar super resolution software? waifu2X seems to only enlarge the comics, zooming in the ordinary video feels no effect

[2018-12-21 05:00] keyutao9 commented on #31
After the reinstallation, the problem is solved. Does the author have similar super resolution software? waifu2X seems to only enlarge the comics, zooming in the ordinary video feels no effect

[2018-12-21 06:33] K4YT3X commented on #31
@keyutao9 you can set the upscale model. The default is anime, and you can set it to photo, which suits regular videos better.

[2018-12-22 21:47] #24 closed

[2018-12-22 21:47] #16 closed

[2018-12-25 22:36] #31 closed

[2018-12-25 22:37] K4YT3X commented on #28
@dealvidit spreading the load will unlikely be a thing that this program can control. It's more up to either waifu2x or caffe2.

[2018-12-29 18:51] archienz opened #32 "no such file or directory"
please delete this, i suspect it has something to do with incomparable versions of windows 10, i had errors with pip/python earlier only just managed to get it working with this, it seems nvidia drivers don't like working for this version of windows (cuda, cudnn) BUILD (17134) got 32gb of ram, ryzen 1800x +1050ti it won't actually let me use it for some reason :(

[2018-12-29 20:50] K4YT3X commented on #32
@archienz Feel free to reopen this at any time.

Maybe I should raise an exception in the future if the upscale was unsuccessful.

[2018-12-29 20:50] #32 closed

[2019-01-09 16:45] K4YT3X commented on #30
I've already started working on this one. I'm now stuck on the question of how to decompress the binary file of waifu2x-converter-cpp since it's archived with 7z. Not sure how to do that elegantly yet with python.

[2019-01-16 14:20] MangaKaroka opened #33 "Error, not enough memory? Retrying...)"
File: 014301.png, Code: 1 (Error, not enough memory? Retrying...)

[2019-01-16 22:34] K4YT3X commented on #33
Do you have the full log? It seems like an error message from waifu2x-caffe instead of video2x.

[2019-01-16 22:52] K4YT3X commented on #33
BTW nice profile pic lol

[2019-01-24 11:56] meguerreroa opened #34 "ffmpeg issue"
While ffmpeg was woking extracting the audio, it returned this error
![image](https://user-images.githubusercontent.com/36995005/51676242-0e81dc80-1fa4-11e9-9393-71073c33d94e.png)
Creating an empty output_audio.aac
So when it was copying that audio on the final video:
![image](https://user-images.githubusercontent.com/36995005/51676378-73d5cd80-1fa4-11e9-807b-7b0a1a5e6b9c.png)

I repeated the proc

[2019-01-24 21:32] K4YT3X commented on #34
Thank you :P

Could you please send me the original command and what you added? That will help me locating the problem. I'm still struggling whether to use the python ffmpeg library or continue down the current path.

[2019-01-24 21:38] K4YT3X commented on #34
I have the current `-acodec` set to `copy`, so the codec should work. Did ffmpeg misdetect the codec or something?

[2019-01-25 01:31] meguerreroa commented on #34
As you said, the original command was -acodec copy, maybe it was a kind of unusual bug. I'll download again ffmpeg and i'll test again.

[2019-01-25 13:51] K4YT3X commented on #34
Ok. Tell me if the problem persists. If the issue remains, it's the best if I can have the original video for debugging.

[2019-01-26 11:14] deonix37 opened #35 "No such file or directory"
Windows 10, Python 3.7.0
Catching several exceptions during upscaling (webm):

[code]

[code]

[code]

[2019-01-26 14:18] K4YT3X commented on #35
@deonix37 I can't seem to locate the problem just by looking at the few lines of errors that you have provided. Could you please submit the full output?

[2019-01-26 14:32] deonix37 commented on #35
[code]

[2019-01-27 22:11] K4YT3X commented on #35
This is very strange.

In one of the lines, it says "変換に失敗したファイルがあります", which indicates that some files failed to upscale. Tracing back upwards, the previous action will be to extract frames from the video.

I see that the video is in webm format. Would that be causing the problem?

1. Is there any chance I can have the video to make a test?
1. Does the program work ok on your system with mp4 vide

[2019-01-28 07:21] deonix37 commented on #35
Getting the same output for mp4s. Tried the cpu, gpu, and cudnn methods. My graphics card is AMD Radeon RX 560. It gives some error log btw.
[error_log_20190128-111625.5472.log](https://github.com/K4YT3X/video2x/files/2801811/error_log_20190128-111625.5472.log)

[2019-01-28 15:11] meguerreroa commented on #34
Sorry for the late reply. Here's the video if you want to test
https://mega.nz/#!D5xACICZ!u80qVS4H58EW6EbXRBa3gNdMf1H6-TWyq-ul2JdXwdo
I haven't tested with another video yet, i'll post the result when i do

[2019-01-29 14:20] K4YT3X commented on #35
@lachlan-smith is right. `waifu2x-caffe` currently doesn't have support for AMD GPUs. However, if you look at #30 , AMD support is on its way.

[2019-01-30 22:45] #35 closed

[2019-01-31 02:39] K4YT3X commented on #34
@meguerreroa ok I see what's going on.

Basically in the following command, ffmpeg is trying to extract whatever format the audio is into AAC without converting the codec. If the audio already is AAC, then there's no problem. However, in your case, the audio stream is in MP3 format. Therefore, ffmpeg tries to extract MP3 into AAC without converting, which doesn't work.

[code]

I think what I have

[2019-01-31 03:40] meguerreroa commented on #34
Wow, thanks, now I understand what was wrong. I hope that this question will be useful for you to find a suitable solution. Also thanks for upscaling the video.

[2019-01-31 03:54] K4YT3X commented on #34
@meguerreroa much obliged. Thanks for providing the original video so I was able to locate the problem. I'll close this issue once the problem is confirmed to be eliminated.

[2019-02-05 11:51] AusNaminator opened #36 "Add support to copy over multiple audio streams and subtitles"
Is it possible to add the ability to copy over multiple audio streams (for dvd rips with commentary tracks etc), subtitles and chapter markers over to the upscaled video file?

[2019-02-05 15:15] K4YT3X commented on #36
Yes it is **possible**, but it will require a lot of work and debugging.
If someone can help me out and submit some pull requests, it will make it more feasible in terms of time.

[2019-02-06 01:31] AusNaminator opened #37 "After completing an upscale the temporary files aren't being deleted"
I'm not sure if it is supposed to but the extracted frames images aren't being deleted from my temp folder. Is it possible to change the temp folder location to say perhaps a different hard drive?

[2019-02-06 02:14] K4YT3X commented on #37
I'm noticing similar things as well. The temp folders aren't deleted, especially if the program throws an exception. I should make a `except` statement wrapping the whole program, so in case the program fails, the garbages will be purged.

As for now, the temp folder is generated by `tempfile.mkdtemp`.
Should I just make a value in the config file that will allow you to specify where the temp fold

[2019-02-06 02:42] AusNaminator commented on #37
Adding a value to the config file would be ideal because my SSD has limited space.

[2019-02-07 16:12] #34 closed

[2019-02-08 19:19] K4YT3X commented on #37
@AusNaminator I have added the function to specify the cache folder location. You can also choose to preserve the extracted/upscaled frames.

[2019-02-08 19:19] #37 closed

[2019-02-08 21:51] K4YT3X commented on #30
I have released update 2.4.0 which added support for waifu2x_converter_cpp. If you encounter any issues, please open new issues for the specific problem.

[2019-02-08 21:51] #30 closed

[2019-02-23 01:40] cr08 commented on #36
With the current ffmpeg implementation, the info I've posted over in #24 towards the bottom should suffice. I want to get my own private fork set up first for some of my own custom modifications but once I do I'll try and test that addition and file a PR.

[2019-02-23 22:10] K4YT3X commented on #36
The newest version now supports copying over audio streams and subtitles.

[2019-02-23 22:10] #36 closed

[2019-02-24 15:24] SimonBuysse opened #38 "First time user error messages."
Just followed the tutorial everything was smooth but on my try out video I get these errors, it does not crash tho. (video was 480p mp4 to 1080p mp4.
![index](https://user-images.githubusercontent.com/10955886/53301247-aa776000-3850-11e9-86ef-01df1245cdc8.png)

[2019-02-24 16:59] K4YT3X commented on #38
Do you have the full log or could you please share the input video?
I can't get too much information from this screenshot. I need to know which section went wrong and what was being executed.

[2019-02-24 18:54] SimonBuysse commented on #38
How would I send you a private link to the file, its also NSFW video fyi :p

[2019-02-24 18:54] SimonBuysse commented on #38
I tried another video and it worked fine so its probably the video itself.

[2019-02-24 19:19] K4YT3X commented on #38
I have recently added the "migrate audio tracks and subtitles" feature. I wonder if that's what's going wrong.

[2019-02-25 14:02] cr08 commented on #38
Looks like it is happening during the stage the input file is being processed into individual frames as it is decoding the original video. And these are ffmpeg's own error messages indicating something is up with the original file. Not necessarily anything wrong or directly involving video2x.

If you let the entire thing process does it complete properly or does it fail in some way?

[2019-02-25 14:38] SimonBuysse commented on #38
Yes @cr08 you are right. I did some editing on my own with just ffmpeg and I always get an error ( I tried extracting images out of the video). So its def not a problem related to video2x but with ffmpeg. The process for me did end up getting stuck.

When I tried doing my own thing with the video some of the images I retrieved were corrupted. Since then I found another source of the same video and

[2019-02-25 22:56] K4YT3X commented on #38
Ok I see. If this issue continues to come up with other videos, then I'm going to take a deeper look into it. As for now though, it looks like it's a video problem that's not related to video2x.

I'm going to close this issue, but feel free to reopen or open a new issue if you encounter similar problems with other videos.

[2019-02-25 22:56] #38 closed

[2019-02-26 19:00] K4YT3X commented on #28
I'm getting some progress. I'm considering using the `GPUtil` library to monitor the GPU memory usage to solve this issue.

[2019-02-26 21:34] cr08 opened #39 "ffmpeg extraction fails to start if missing extracted frames folder with custom paths"
Found out with the custom extracted and upscaled frames folders if those are missing, at the very least the ffmpeg extraction step fails. Not sure if waifu2x-caffe will do the same as I did not get that far. Where this comes in is the end of the script when it wipes those folders, it'll do so whether using the temp directory or custom paths. In a batch this is a no-go.

I've done a potentially cru

[2019-02-26 21:36] K4YT3X commented on #39
Oh yeah I should add the function to create folders automatically if they're missing.
I'll add that into the next commit and push it with the fix for #28 .

[2019-02-26 22:53] K4YT3X commented on #39
I saw your code review, and I've already finished adding the features.
I came up with something more complicated and fault-tolerant.
I'll just make some more tests before releasing the new version.

[2019-02-26 23:06] K4YT3X commented on #39
I have just released version `2.4.2`.
Problem should be solved.

[2019-02-26 23:06] #39 closed

[2019-02-26 23:11] K4YT3X commented on #28
I have just pushed update `2.4.2`. If you have Nvidia GPU and CUDA drivers installed, the new version will now read output of `nvidia-smi.exe` to determine usable GPU memory prior to upscaling.

Although it doesn't have support for AMD GPUs, AMD GPUs must use `waifu2x-converter-cpp`. Therefore I'm not sure if the same problem will occure on that driver. If there is something like that on the other

[2019-02-26 23:11] #28 closed

[2019-02-28 13:43] cr08 commented on #39
One minor addition to this to request: Adding either a command line or config option to skip the "Create folder/directory?" request. Currently this breaks batching the script when intending to use custom paths.

[2019-02-28 14:25] K4YT3X commented on #39
By design, if you have the destination folder created, it shouldn't prompt you. Is it not working properly?

[2019-02-28 14:57] cr08 commented on #39
Part of the original concern is there in which regardless of whether the temp folders are used or custom paths, they are deleted at the tail end of the script. Specifically this section of code:

https://github.com/K4YT3X/video2x/blob/ecb65aad35e51490e160af272084831368576891/bin/upscaler.py#L72-L80

So I can create the custom folders I wish to use for extracted and upscaled frames, but when the sc

[2019-02-28 15:36] K4YT3X commented on #39
Maybe you can set "preserve_frames" to `true` in the config file?
That might be the cheapest solution to this problem for now.

I'll look into adding an option for it, or make changes that will make this problem go away.
Also, please open a new issue as this is a separate topic from the original one. Opening a new issue also helps organizing my work.

[2019-02-28 19:25] ArmandBernard opened #40 "include new models (improvement)"
Hello,

I've just found your tool and I've been digging through the code a bit. I've noticed that your code does not allow for the use of the newer models included in waifu2x caffe, in particular "cunet" and "upresnet10". From my experience, cunet can give even better results than anime_style_art_rgb with better handling of noise and haloing even without turning on much noise reduction. I've not c

[2019-02-28 19:29] ArmandBernard opened #41 "noise level option (improvement)"
After digging through your code, I found that you've hardcoded the use of level 3 noise reduction for waifu2x. That seems a bit excessive for most anime encodes files imo. Could you possibly include an option -n / --noise_level to let the user set this? That would be awesome.

[2019-02-28 23:07] K4YT3X commented on #40
Of course. I'll update the options section.
It will be better if I would be able to dynamically detect the supported models, but I don't know a way to do it elegantly.

[2019-02-28 23:37] K4YT3X commented on #41
Sure. Will be available in the next update.

[2019-03-01 01:18] Fytcher opened #42 "[WinError 5] Access Denied"
I ran into an issue. Issues appears if either cudNN or gpu mode is used.
Using a GTX 1070 with CUDA 10.1 installed and cudNN library.

The entire log:

[code]

[2019-03-01 01:32] ArmandBernard opened #43 "Progress bar"
A progress bar/percentage has been often asked for but seemed impossible. A possible solution:

Run a side script that tracks the number of files in the waifu2x output folder vs the input folder.
100 * output / input for percentage.

[2019-03-01 03:09] K4YT3X commented on #42
I'm not really sure why that's happening, but I'm pretty positive that if you run it with admin privilege it will go away. I don't have your environment so I can't do any tests, and online searches didn't give me anything useful yet.

[2019-03-01 03:10] K4YT3X commented on #43
Excellent idea. Will do tests on this suggestion, and if it all works out, the progress bar will be back in the next version.

[2019-03-01 12:47] cr08 opened #44 "Request: Allow bypassing 'create folder?' request at startup if cache folders are missing"
As requested in #39

With the new update to allow creation of the cache folders if missing (if using custom paths) it now adds a user input request to confirm creation upon startup.

The issue is that at the end of the script regardless of whether it is using the default temp folders or custom paths for the cache folders, it will erase the folders outright. So even for custom paths if you original

[2019-03-01 14:00] Fytcher commented on #42
Command prompt is runnung as admin and google didn't return something useful for me either ;/

[2019-03-01 14:00] Fytcher commented on #42
Funny thing: i can every step/command manually and it worked.

[2019-03-01 17:56] ArmandBernard opened #45 "include "attachment" (t) stream for fonts"
The attachments stream is usually used to hold fonts for subtitles, one example where this is used is the latest season of JoJo, HorribleSubs release. To copy it over from the source file, the following code can be used in ffmpeg:

`-c:t copy -map 1:t? `

[2019-03-01 19:22] cr08 commented on #45
As a suggestion it may be simpler to go to the command line options I used in the following comment or some equivalent: https://github.com/K4YT3X/video2x/issues/24#issuecomment-438329947 Essentially it should copy all streams over from the input file regardless of type and just ignore the original video stream (since we are upscaling and providing a new copy of course). I'm not sure if there's any

[2019-03-02 18:39] K4YT3X commented on #42
The problem isn't with the commands that are being executed, it's with the subprocess library that's executing them. I would love to know why it isn't working.

[2019-03-04 00:56] K4YT3X commented on #40
New models are now included in the most recent update.

[2019-03-04 00:56] #40 closed

[2019-03-04 04:08] K4YT3X commented on #45
@cr08 ok. I'll follow your suggestions and try it out.

[2019-03-04 04:20] K4YT3X commented on #43
I will be using tqdm for the progress bar, so there will be no need for any calculation on our side.

[2019-03-04 04:42] K4YT3X commented on #45
I have made a test with your solution, but it didn't seem to copy anything over besides the video stream.

[code]

[2019-03-04 05:34] K4YT3X commented on #43
I think it's working fine.

![image](https://user-images.githubusercontent.com/21986859/53712518-31aa7200-3e15-11e9-82a4-14aa6f26d193.png)

[2019-03-04 13:21] cr08 commented on #45
I had a look through again and it may be the input videos are flipped around in the ffmpeg command. Right now the no_audio.mp4 is coming first. So either the above options need to be flipped to

`-map 0:v:0 -map 1 -c copy -map -1:v`

or flip around the input **-i** parameters so the no_audio.mp4 comes second.

I'm running a quick test on my end to confirm.

[2019-03-04 14:02] K4YT3X commented on #45
Oops you're right. I changed it to

[code]

I don't know if it's necessary to add the `?`s, is it?
Everything is looking good right now though. All streams have been copied over.

[2019-03-04 14:31] cr08 commented on #45
Theoretically the question marks shouldn't be needed. Based on how I am reading the documentation it is only necessary if there is a possibility of that map not existing so the command doesn't outright fail, it just ignores that map.

`-map 0:v:0?`
^ We know the input video track is going to exist there from the no_audio.mp4 file

`-map 1?`
^ We know the source input file should still exist at thi

[2019-03-04 15:29] cr08 commented on #45
And confirmed on my end that swapping those around works just fine with my test content.

[2019-03-05 00:44] K4YT3X commented on #45
Changes committed. It should be working now.

[2019-03-05 00:44] #45 closed

[2019-03-05 00:44] K4YT3X commented on #43
Progress bar has been added in the newest update.

[2019-03-05 00:44] #43 closed

[2019-03-05 00:45] K4YT3X commented on #42
@Fytcher I've updated the command execution method in the last update. Try it to see if it solves the problem. I had the same problem today and that solved my problem.

[2019-03-10 15:29] K4YT3X commented on #41
This is now supported via editing the config file.
I might make it available via command line as well in the future.

[2019-03-10 15:29] #41 closed

[2019-03-10 15:29] K4YT3X commented on #42
@Fytcher I've made some changes to it in the new version, check to see if the problem is still there.

[2019-03-10 18:47] SnaxxNZ opened #47 "Cant seem to get waifu2x-converter-cpp to work."
Been playing around with this for the last hour or so and I can't get waifu2x-converter-cpp to work.
CPU works fine but every time I use -d waifu2x_converter I run into the same problem.

The video will extract fine but when it comes time to upscale I keep getting a "cv::imread failed" error and then a message saying the process was successfully done.

[2019-03-10 19:58] K4YT3X commented on #47
I'm aware of this issue, and I have communicated with the original author of waifu2x-converter-cpp. The original author already had it fixed, but didn't release a new update yet.
For now, please try using this version of waifu2x build: https://share.toji.site/w2x_input_fix.7z

Here's the related issue:
https://github.com/DeadSix27/waifu2x-converter-cpp/issues/109

[2019-03-11 00:08] K4YT3X commented on #47
I just pushed a temporary fix for the waifu2x-converter-cpp bug before they release the new build.
You may now clone the newest version of video2x and use it the normal way.

[2019-03-11 00:08] #47 closed

[2019-03-11 00:13] K4YT3X commented on #44
Just to let you not wait in despair, I AM working on this. I just haven't decided weather to just fix this folder creating thing alone, or add a `--batch` option to automatically select all default values.

[2019-03-12 14:35] K4YT3X commented on #42
Closing this issue since the issue owner didn't respond in a long time.

[2019-03-12 14:35] #42 closed

[2019-03-12 16:07] K4YT3X commented on #44
You can now use the `-b, --batch` option, and it will skip all those questions.
Referenced commit: https://github.com/K4YT3X/video2x/commit/03d3c165462334db2a12870dabf45a40cc5f772c

[2019-03-12 16:07] #44 closed

[2019-03-14 01:39] cr08 opened #48 "TypeError: ask() got an unexpected keyword argument 'batch'"
With the new batch argument added I'm now seeing the above error when attempting to use it. Tried to debug on my own but unfortunately not seeing what is up. Here's the full error message. Tried both -b and --batch at the end of the command

Traceback (most recent call last):
  File "video2x.py", line 207, in <module>
    if Avalon.ask('Create folder/directory?', default=True, batch=args.batch):
T

[2019-03-14 01:44] cr08 commented on #48
Never mind. My mistake. I missed the requirement to update avalon_framework. Did so and all's well.

[2019-03-14 01:44] #48 closed

[2019-03-14 04:32] K4YT3X commented on #48
@cr08 yeah for the batch to work well, I had to update the framework as well

[2019-03-14 12:49] cr08 opened #49 "Small fix regarding documentation for waifu2x model selection"
With some of the recent updates surrounding the new json config layout and the waifu2x model selection, the existing known usage of the command line `-y` option is out of date. If you use, for example `-y cunet` on the command line which used to work just fine, it now passes this as `--model_dir cunet` to waifu2x which is the wrong syntax it is expecting and thus fails that stage of the script.

I

[2019-03-14 13:07] K4YT3X commented on #49
Regarding this issue, I've just realized that `waifu2x-caffe` and `waifu2x-converter-cpp` have different types of models available, and their model selection is more complicated than I thought. You'll have to specify `--model_dir [directory containing the model files]` to select, instead of just `-y model`.

I'll look into this problem.

[2019-03-14 13:21] cr08 commented on #49
Got it. Just to clarify I use the caffe version as I have an Nvidia GPU. Haven't even looked at the CPP version. I've simply adjusted my batch file to remove the `-y` option and let the model_dir directive in the json file do the work.

[2019-03-16 05:09] sryug opened #50 "Completes at 50% output video is unplayable."
new user here. I followed the tutorial and my process runs to 50% about and then INFO: program completed, appears and it closes the task and deletes all temporary images.  the video file that it creates is a small 4mb file with no video (the input file is 60mb).  I've gone to the temp folder while it is running and i've seen it is creating the images.
i'm unclear on where the log is but here's thi

[2019-03-16 05:44] sryug commented on #50
trying different videos gives the same results so far

[2019-03-16 13:13] K4YT3X commented on #50
Could you please post the error log content?

[2019-03-16 14:32] sryug commented on #50
I don't seem to have that.
![error](https://user-images.githubusercontent.com/48486738/54476657-fa04d800-47cd-11e9-9dbd-9a522d1757be.JPG).

it is successfully deleting the temp folder though.  I've watched it run, fill out the folder with images then poof disappear once it hits 50% and claims it has completed the operation.

[2019-03-16 15:13] sryug commented on #50
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Windows\system32>cd C:\upscale\video2x-master\bin

C:\upscale\video2x-master\bin>python video2x.py -m gpu -r 2 -iC:\Users\jomb\Docu
ments\redshort.mp4 -o C:\Users\jomb\Documents\redshorta.mp4
__      __  _       _                  ___   __   __
\ \    / / (_)     | |                |__ \  \ \ /

[2019-03-16 16:04] Smarthard commented on #50
@sryug which graphics card do you have? I had the same behavior on my nvidia grahics card when I tried to use gpu upscaling method without installed CUDA Toolkit.

[2019-03-16 16:08] sryug commented on #50
it's a 1080gtx

[2019-03-16 16:17] Smarthard commented on #50
ok then try to download and install this - [CUDA Toolkit 10.1](https://developer.nvidia.com/cuda-downloads?target_os=Windows&target_arch=x86_64).

[2019-03-16 16:27] sryug commented on #50
I just did and it did not fix the issue.  I used the network installer from the page

[2019-03-16 18:38] Smarthard commented on #50
@sryug in your very first message on the bottom of screenshot Permission Error has occured. But command prompt has runned with administrator rights. Hm... Maybe something is blocking this folder. I not sure.
Did you try any other video to upscale? Try to upscale [demo sample](https://files.flexio.org/Resources/Videos/sample_input.mp4) for example

[2019-03-16 18:55] sryug commented on #50
the sample video gives the same results.  i've done a bunch of different videos of different lengths and get the same exact result every time. it cuts out at 50% progress.
![half](https://user-images.githubusercontent.com/48486738/54480134-e455d980-47f2-11e9-855e-3e5f614b30cd.JPG)

I don't understand what is happening at 50% is the program starting some new operation at that point?  according to t

[2019-03-16 19:52] Smarthard commented on #50
I only know that in config file (video2x.json) you may specify `input_path` and `output_path`. Note that you need to escape backslashes in paths like that: `C:\\Users\\th3_smart\\`

[2019-03-16 20:17] sryug commented on #50
I succeeded in changing the temp folder. you have to edit the line at the bottom "video2x_cache_folder" change the false statement into whatever file path you want.

unfortunately this didn't solve the issue

[2019-03-16 20:19] sryug commented on #50
also I now realize it is not actually failing at 50% that is just the workload spread across two threads.  so it's actually getting to 100% in upscaling the frames but fails to compile them into a video.

[2019-03-17 00:12] K4YT3X commented on #50
@sryug it IS actually failing at 50%. Progress of both threads are calculated.

The `???????` is error message printed in Japanese since waifu2x-caffe output is in Japanese. You'll have to change your cmd codec, otherwise we won't be getting any useful information out of that.

[2019-03-17 00:50] sryug commented on #50
ok. I don't know what that means could you point me in the right direction?

[2019-03-17 03:59] K4YT3X commented on #50
Not quite. Most logs are only printed on screen to both stdout and stderr. Only Nvidia errors will be saved to the log format that you mentioned.

[2019-03-17 06:01] K4YT3X commented on #50
instead of trying to fix waifu2x-caffe though, have you tried waifu2x-converter-cpp?

[2019-03-18 03:51] peterhhk opened #51 "Store temporary frames as JPEG to save space"
PNG files get pretty big pretty quick and using JPEG images would help with that.

[2019-03-18 21:13] sryug commented on #50
I've discovered a fix of sorts. if I limit it to one thread it works.
of course it's quite slow when I do this.  I'll try the other converter later today once I figure out how to install it.

[2019-03-19 00:23] K4YT3X commented on #50
@sryug ok, glad to hear. Please keep me posted.
This is the only reported case for something similar.

[2019-03-19 17:27] K4YT3X commented on #49
@cr08 I pushed a new update. This problem should be solved now.

[2019-03-19 17:27] #49 closed

[2019-03-19 20:10] K4YT3X commented on #51
The difference in quality is too big between PNG and JPEG. Therefore, this feature request will not be implemented at this point.

### PNG

![extracted_34](https://user-images.githubusercontent.com/21986859/54638384-50d61000-4a61-11e9-9a83-0337ebc05755.png)

### JPEG
![extracted_34](https://user-images.githubusercontent.com/21986859/54638389-54699700-4a61-11e9-9734-2f2e8bd4ce0d.jpg)

[2019-03-21 17:19] FeKgr opened #52 "Sorry to ask. But I have a problem. Its not giving me an error but just stops..."
C:\Users\Felix\Desktop\waifu2x>waifu2x-converter-cpp.exe -i sample_input.mp4
OpenCL: Ellesmere

... That's all it gives out
Then it prints the usual cmd line again and it magically stops. It also created a file called Ellesmere.bin I can upload that
https://www32.zippyshare.com/v/R480MwnD/file.html
there it is.
I really don't know how to continue. I am running gon Windows 10 64x with latest amd dr

[2019-03-21 18:07] K4YT3X commented on #52
What are you trying to do with this command anyways?

[2019-03-21 20:11] cr08 commented on #51
To be fair, and this is just additional technical info on the topic, it does look like the default jpg output in ffmpeg without specifying a quality rate is pretty poor not only from your test images but a brief test of my own. Selecting the jpg output quality is done using the same `-q` or `-qscale` modifiers like other codecs. Looks like it ranges from 2-32 for jpeg with 2 being the best and 32

[2019-03-21 20:18] K4YT3X commented on #51
@cr08 I understood the problem afterwards.
https://github.com/DeadSix27/waifu2x-converter-cpp/issues/114

Here was my conversation with waifu2x-converter-cpp's developer on this topic.
I might still try JPEG later.

[2019-03-21 20:29] K4YT3X commented on #51
It's so sad that I've already written the code, but I `git reset --hard`'ed the thing.

[2019-03-21 22:24] K4YT3X commented on #52
What you're trying to do with this command is to upscale a video clip via `waifu2x-converter-cpp`, which is not related to `Video2X` at all, and will not work.

If you're not sure how to use this program, it might not be a bad idea to look at:
https://github.com/K4YT3X/video2x/wiki/Step-By-Step-Tutorial

[2019-03-23 00:56] K4YT3X commented on #52
Well, I'm closing this issue since no further posts are seen.
Feel free to reopen at any time.

[2019-03-23 00:56] #52 closed

[2019-03-23 22:09] wompshmack opened #53 "Rescource usage. 100% CPU 0% GPU"
Hey, not sure if this is an issue, or if my CPU is actually bottlenecking this somehow. I'm running -m gpu and it's always at max cpu usage but barely touching the GPU. Also it seems to say it'll take around 7 hours to process a 20 min video file, so I'm guessing that may be a problem. CPU is a ryzen 1300x and the gpu is a gtx1080.

[2019-03-23 22:54] K4YT3X commented on #53
That's strange. Could you please provide a screenshot of the waifu2x command executed?

[2019-03-24 05:55] YanakoX opened #54 "Could not find file with path error"
Hello, !
I get this error when I try to use video2x according to the Step-By-Step Tutorial.
Is there anything I can do to fix this error?
Thanks!

[code]

[2019-03-24 06:05] K4YT3X commented on #54
File Not Found is not the problem. Look at these lines:

`waifu2x-caffe` failed to execute and printed an error, but it's printed in Japanese encoding, and your terminal isn't able to decode this codec. Without the actual error message itself, I'm still not sure what's wrong.

[2019-03-24 06:33] YanakoX commented on #54
Ok, thanks for the info!
Result below:

[code]

[2019-03-24 06:49] YanakoX commented on #54
Tried several times with these instructions, but I only get no error message between the progress bar and "Exeption in thread 0" instead of ???????????????.

[code]

[2019-03-24 09:18] wompshmack commented on #53
![image](https://user-images.githubusercontent.com/2308987/54877386-dce29180-4deb-11e9-9290-718d8eeb0e66.png)

[2019-03-24 09:19] wompshmack commented on #53
And while that did take a very long time I just watched the finished product and it was quite good!

[2019-03-24 13:13] K4YT3X commented on #53
Wow 10.25 hours. Still no GPU usage though?

[2019-03-24 18:20] wompshmack commented on #53
Yeah, stayed very close to 0 the whole time. I thought that maybe that was just frame extraction that was CPU intensive, because of course that takes a while at the beginning, but I checked it several times over the process. -m gpu should be using cuda, right?

[2019-03-24 22:44] rasm685p commented on #54
I'm getting the same error and here is my "error_log"
`Log file created at: 2019/03/24 23:34:33
Running on machine: DESKTOP??
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
F0324 23:34:33.782449  6176 syncedmem.cpp:71] Check failed: error == cudaSuccess (2 vs. 0)  out of memory
`

[2019-03-24 23:04] K4YT3X commented on #54
for your problem, just reduce the amount of threads.

[2019-03-25 02:26] K4YT3X commented on #53
Right, but make sure you're checking Compute instead of 3D or encoding/decoding.

![image](https://user-images.githubusercontent.com/21986859/54891411-a6f0ec00-4e83-11e9-9b25-07105543df29.png)

[2019-03-25 08:43] MrAlexEsisteGia opened #56 "Cannot upscale video with waifu cpp"
Once it finishes extracting the frames, it just throws an error and freezes

"waifu2x_converter_path": "C:\\Users\\ale54\\AppData\\Local\\video2x\\waifu2x-cpp",
[Video with all the details](https://streamable.com/q7vtu)

[code]

[2019-03-25 13:30] K4YT3X commented on #56
This problem has been fixed in the newest update.

[2019-03-25 13:30] #56 closed

[2019-03-25 19:16] xDololow opened #57 "PARSE ERROR: Argument: --model_dir Couldn't find match for argument"
`
C:\Users\xDololow\Desktop\video2x-master\bin>video2x.py -i Untitled.mp4 -o 2K.mp4 -m gpu -r 2 -d waifu2x_converter
__      __  _       _                  ___   __   __
\ \    / / (_)     | |                |__ \  \ \ / /
 \ \  / /   _    __| |   ___    ___      ) |  \ V /
  \ \/ /   | |  / _` |  / _ \  / _ \    / /    > <
   \  /    | | | (_| | |  __/ | (_) |  / /_   / . \
    \/     |_|  \__,_|

[2019-03-25 21:35] K4YT3X commented on #57
Your command seems to be fine, I don't know exactly what went wrong.

[2019-03-26 08:16] thescratcho opened #58 "Add Option for Width and Height using converter-cpp"
It would be nice if Widht and Height are supported by converter-cpp

It could be archived by calculating the ratio using the Widht/Height of the source file.
waifu2x-gui has an implementation for that. Maybe look there for reference
https://github.com/maz-1/waifu2x-gui

[2019-03-26 15:25] DonaldTsang opened #59 "Feature: de-noising low-bitrate video"
Since waifu2x has de-noising, video2x should have a de-noising feature as well for low bitrate video, and turn them into a high bitrate video. Better still is to use previous and next few frames to enhance the frame in question.

[2019-03-26 15:26] DonaldTsang opened #60 "Feature: SVP support"
Adding SVP to video2x would make it more useful. See https://svp-team.com/

[2019-03-26 16:07] gian800 opened #61 "Error setting option video_size"
I'm getting this error after following the tutorial. I've set the threads to 1 in case that was the issue, but it didn't fix it.
![1](https://user-images.githubusercontent.com/48959138/55013426-67441480-4fe9-11e9-9a44-34e3219956b0.png)
I've tried multiple resolution settings, but all return this error.
I'm using a gtx1080 and I have CUDA installed.

[2019-03-26 16:29] K4YT3X commented on #61
This problem has already been fixed in the latest version.
Please download video2x again.

[2019-03-26 16:29] #61 closed

[2019-03-26 16:30] K4YT3X commented on #59
Could you please provide more details or documentations? I'll take a look.

[2019-03-26 16:32] K4YT3X commented on #58
It is indeed possible, and it's not very hard to implement.
However, since waifu2x-converter-cpp doesn't natively support it, the output cannot be stretched in any kind of ways.

[2019-03-26 17:29] thescratcho commented on #58
That wouldnt be a big deal
Noone like stretched pictures anyways:)

Would be cool if you type in a resolution that doesnt match the aspect ratio, that the nearest correct resolution would be automatically used or suggested that fits the aspect ratio and afterwards sets the correct scaling ratio

[2019-03-26 19:49] T3553 commented on #57
For some reasons in Version 5.2.4 of waifu2x-converter-cpp all arguments have a minus instead of an underscore.

v 5.2.4: http://0x0.st/zKwO.png
v 5.2.3: http://0x0.st/zKwV.png

[2019-03-26 19:56] K4YT3X commented on #57
@T3553 Nice catch. I'll see if I can get this sorted out.

[2019-03-26 21:11] robzombie91 opened #62 "error when processing an mkv file"
https://pastebin.com/FD1A2wHs

im assuming that video2x cant process mkv files but it was almost done before it crashed out

[2019-03-26 21:22] K4YT3X commented on #62
Your output suffix is mpv, invalid video format.

[2019-03-26 21:22] #62 closed

[2019-03-26 22:33] robzombie91 opened #63 "--model_dir output"
https://pastebin.com/YDkrDKGk

[2019-03-26 22:36] K4YT3X commented on #57
The problem should be solved in the latest release.

[2019-03-26 22:36] #57 closed

[2019-03-26 22:38] K4YT3X commented on #63
Redundant `-y` argument in command.

[2019-03-26 22:40] robzombie91 commented on #63
new paste no extra argument, sorry
https://pastebin.com/QdNEvVQq

[2019-03-26 22:47] robzombie91 commented on #63
so, what i did is i added two \\'s in each of the lines and now it magically works

[2019-03-26 22:51] K4YT3X commented on #63
Try quoting your `--model_dir`:

[code]

[2019-03-26 22:52] robzombie91 commented on #63
ill try that argument after this one is done processing if it finishes

[2019-03-26 22:52] K4YT3X commented on #63
I guess argparse just assumed the `\` being escape sequences.
I don't understand why `-i` and `-o` works but this one doesn't.

[2019-03-26 22:55] #63 closed

[2019-03-26 22:55] K4YT3X commented on #63
Conclusion: `git` shell arguments need to be escaped.

[2019-03-26 22:57] robzombie91 commented on #63
[30 days sample.zip](https://github.com/K4YT3X/video2x/files/3010811/30.days.sample.zip)

[2019-03-26 23:15] K4YT3X commented on #63
I guess it really doesn't do that good for real-life footages.

[2019-03-27 03:24] DonaldTsang commented on #59
https://github.com/nagadomi/waifu2x#summary has an image showing that Waifu2x can be used for de-noising images.

[2019-03-27 03:32] K4YT3X commented on #59
If I'm understanding your question right, you can set "mode" to "noise" in the configuration file.

![image](https://user-images.githubusercontent.com/21986859/55048653-5b734500-501f-11e9-9a35-38f3d00d92fc.png)

[2019-03-27 03:36] DonaldTsang commented on #59
@K4YT3X I would say that you can change the model a bit to accept previous and next frames along the frame in question to enhance fluidity (since waifu2x only deals with images).

[2019-03-27 04:47] K4YT3X commented on #59
@DonaldTsang I have no idea how to.
Waifu2x and video2x are completely different types of applications, and not even the creator of `waifu2x-converter-cpp` knows how to train a basic model, let alone altering the algorithm.

If you mean frame interpolation, it's a different topic then.

[2019-03-27 09:28] DonaldTsang commented on #59
I am not talking frame interpolation but super resolution and de-noising using multiple fames for one singular frame.

[2019-03-27 20:24] u2knwy commented on #53
Hey, I had the same problem with i7 2600 and 1080ti but I got it figured out:

First install the CUDA toolkit from the nvidia website (https://developer.nvidia.com/cuda-toolkit)
and after that you still need the cuDNN library (https://developer.nvidia.com/cudnn), from which you paste the cudnn64_7.dll into the waifu2x-caffe folder that is located in AppData\Local\video2x\waifu2x-caffe
to test if i

[2019-03-27 20:24] marchkarcz opened #64 "Error: Could find no file with path 'C:\Users\MARCHM~1.CAI\AppData\Local\Temp\video2x\tmpmqh2d0n3\extracted_%d.png' and index in the range 0-4 C:\Users\MARCHM~1.CAI\AppData\Local\Temp\video2x\tmpmqh2d0n3\extracted_%d.png: No such file or directory"
I don't know how to get rid of the styling.

frame=10721 fps= 78 q=-0.0 Lsize=N/A time=00:05:57.72 bitrate=N/A speed=2.61x
video:2994530kB audio:0kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: unknown
[+] INFO: Reading video information
2019-03-27 13:22:47.637065 [+] INFO: Executing: C:\Users\March M. Cain\AppData\Local\video2x\ffmpeg-latest-win64-static\bin\ffprobe.exe -v q

[2019-03-27 20:28] marchkarcz commented on #64
woops did not mean to close

[2019-03-27 21:18] K4YT3X commented on #64
The previous build of waifu2x-converter-cpp is malfunctioning.
It's not video2x's problem.

[2019-03-27 21:18] #64 closed

[2019-03-27 21:22] marchkarcz commented on #64
Oh, damn. I just downloaded it yesterday. I'm assuming theres a new update?

[2019-03-27 22:27] K4YT3X commented on #64
See this issue for more details:
https://github.com/DeadSix27/waifu2x-converter-cpp/issues/121

You can also just set the processor to OpenCL.

[2019-03-28 14:44] AlvaroBeiro opened #65 "Feature: pause work"
I'm trying to convert a 20 minute video from 576p to 1080p. I'm using cuda and it says it will take 14 hours. I don't like to have my computer working at 100% for such a long time, that's why I would like to have some kind of pause/resume. It could work just by pausing the script or by comparing two folders and seeing where it stopped upscaling, and restarting from there.

[2019-03-28 15:02] K4YT3X commented on #65
waifu2x controls the upscaling process, so video2x can't really interviene with the upscaling process.
Something major has to be changed in order for this to be possible.

[2019-03-28 15:03] K4YT3X commented on #59
How are you supposed to do that?

[2019-03-28 15:04] K4YT3X commented on #53
@wompshmack does the problem still exist?

[2019-03-28 17:09] wompshmack commented on #53
I haven't been back to that machine to test yet, but I definitely did not
have the cuda toolkit installed, so I'd say it's likely that was the issue.
Will update after testing

On Thu, Mar 28, 2019, 10:04 AM K4YT3X <notifications@github.com> wrote:

[2019-03-29 23:44] TotallyDerp opened #66 "[NULL @ 000002142e00e980]"
After it's 'done', it throws me this error message (in red):

I used this to launch it:

Is there something I did wrong here?

[2019-03-30 02:12] SupremMotu opened #67 "[Error] An Exception Has Occurred"
https://imgur.com/a/BL3MRD6

I don't know what is going on. Before this error, I got missing MSVCP140.dll and Concrt140.dll missing, but I downloaded them from DLL-files.com. Did I do something wrong?

[2019-03-30 04:31] dtgraham9 commented on #65
completed_command = subprocess.run(execute, check=True)
completed_command = subprocess.Popen(execute, check=True)
With p=psutil.Process(completed_command) it may be possible to halt the thread's execution with p.suspend() and followed up with p.resume().
Otherwise waifu2x's may allow for popen.communicate() and may have functions ready to handle a pause.

[2019-03-30 10:30] metzo007 opened #68 "Error in Step-By-Step Tutorial"
Hi, if you use the example Line in the Step-By-Step Tutorial like

python video2x.py -m gpu -r 2 --width=1920 --height=1080 -i D:\1.mp4 -o D:\2.mp4

you will get a

[!] ERROR: You can only specify either scaling ratio or output width and height

Please Update the tutorial. Thanks

[2019-03-30 10:39] metzo007 opened #69 "Unable to parse option value "0x0" as image size"
I am sure this is my mistake, but using the simple line

video2x.py -m gpu -r 2 -i D:\1.VOB -o D:\2.mp4

I get the following error message

![image](https://user-images.githubusercontent.com/49093328/55275029-247f8680-52e0-11e9-900d-d922051e2d75.png)

[2019-03-30 10:57] metzo007 opened #70 "Small error in the Step By Step Tutorial"
This was putting me off a bit. The Tutorial says:

"Determine how big you want the output video to be. For example, if you want the video to be 2 times bigger than the original, append -r 2 to the end of the command."

while the command -r 2 will make the video only 1 time bigger, right?

[2019-03-30 11:01] metzo007 commented on #66
I am new to this, but dont you have to specify the output file like

video2x.py -m gpu -r 2 -d waifu2x_converter -i "C:\Users\shail\X.mp4" -o C:\Users\shail\Videos\Y.mp4

also fits the error message. It cant find the output formal because you did not provide a output file.

[2019-03-30 11:46] TotallyDerp commented on #66
Yup, that fixed it. Thanks a lot metzo007!

[2019-03-30 15:49] Smarthard commented on #70
@metzo007 `-r` option multiplies original width and height by specified value.

[2019-03-30 15:51] Smarthard commented on #68
@K4YT3X in [running-video2x-for-the-first-time](https://github.com/K4YT3X/video2x/wiki/Step-By-Step-Tutorial#running-video2x-for-the-first-time) section

[2019-03-30 16:02] metzo007 commented on #70
@Smarthard I know, but -r 2 will not make the video 2 times bigger. ;-) I would simply say "If you want to double the size of the video..."

[2019-03-30 16:09] Smarthard commented on #70
@metzo007 oh okay I got it

[2019-03-30 18:04] K4YT3X commented on #51
Added JPEG support in the newest version

[2019-03-30 18:04] #51 closed

[2019-03-30 18:08] K4YT3X commented on #70
Emmm technically, you're right. I'll change the wording a bit.

[2019-03-30 18:08] #70 closed

[2019-03-30 18:11] K4YT3X commented on #69
Try running ffprobe manually and see what information you can get from the input video.

[code]

[2019-03-30 18:13] K4YT3X commented on #68
Thanks. I forgot to remove the `-r 2` when I copied the command over from elsewhere.

[2019-03-30 18:13] #68 closed

[2019-03-30 18:14] K4YT3X commented on #66
Output should be a file, not a folder, as described by @metzo007 .

[2019-03-30 18:14] #66 closed

[2019-03-30 18:16] K4YT3X commented on #67
I'm not sure what the problem is. The error messages printed by waifu2x cannot be displayed due to its Japanese encoding. Could you please change the code page before running the program?

[2019-03-30 18:18] K4YT3X commented on #65
That's what I was thinking as well, but it sounds pretty hard to implement.
If it's simply pause and resume without exiting, then I think it's more viable.

[2019-03-31 00:28] metzo007 commented on #69
will do. I found out that the problem was that I used a VOB file as input. Once I changed it to mp4 the error was gone. So the error should be rare and easy to avoid.

[2019-03-31 00:52] K4YT3X commented on #69
I want to make the script compatible with all formats though. FFMPEG should be able to handle VOB, so I wonder what's wrong.

[2019-03-31 02:50] SupremMotu commented on #67
How would I change the code page?

[2019-03-31 19:56] k4yt3x commented on #60
Exactly how do you suggest it to be integrated?
SVP is paid stand-alone software. It also should be used after upscaling.

[2019-03-31 19:56] k4yt3x commented on #67
`chcp 65001`

[2019-03-31 21:16] rasm685p commented on #65
You should be able to create something simple as a txt file with "1172/123212 frames progressed"
If you load the txt file then it will just continue with 1173?

[2019-03-31 21:23] k4yt3x commented on #65
`Video2X` does not control the progress,`waifu2x` does. Yes, video2x can count how many frames have been upscaled, but now I need to find out how to make waifu2x stop its job gracefully and such.

[2019-04-01 02:12] dtgraham9 commented on #65
k4yt3x from my understanding of your code you pass the entire temp frame directory to waifu2x, right?
If that's the case rasm685p, there is so code aside to send individual files/ smaller broken up temp directories.

If the code was reworked to send individual frames to be upscaled by wiafu2x instead of an entire directory, yes it could be possible to create a txt file with start frame number, but

[2019-04-01 03:01] k4yt3x commented on #65
@dtgraham9 as mentioned in #11, processing individual frames greatly reduce the efficiency of upscaling.
I'm curious to see if I can stop waifu2x gracefully, but unfortunately that has to happen after my exam weeks.

[2019-04-01 03:14] dtgraham9 commented on #65
@k4yt3x I'll put some time into looking into it as well when I get time too, good luck on exams.  Mine aren't for a while.  My C++ skills are quite rusty.

[2019-04-01 04:22] k4yt3x commented on #65
@dtgraham9 you have my appreciation. Thanks for helping out.
waifu2x-converter-cpp developers are quite engaging in issues opened, and are actively making changes and improvements. If we do need something specific, I think they might be happy to help.

Wish the exams are over quicker so I can work on my own stuff.

[2019-04-01 04:23] k4yt3x commented on #50
This issue has been here for quite a long time without further updates. I'm closing the thread for now. If you still experience problems, feel free to reopen the issue.

[2019-04-01 04:23] #50 closed

[2019-04-01 04:24] k4yt3x commented on #53
No further feedback from thread owner. Closing thread.
Feel free to reopen.

[2019-04-01 04:24] #53 closed

[2019-04-01 04:25] k4yt3x commented on #54
No updates from issue owner.

[2019-04-01 04:25] #54 closed

[2019-04-01 04:57] SupremMotu opened #71 "Exe Format Closes Right Away"
When I try running the EXE, it closes immediately. Am I suppose to change something in the exe?

[2019-04-01 05:41] k4yt3x commented on #71
You're not supposed to just double click and run it. Launch it in command line just like regular python scripts.

[2019-04-01 05:41] #71 closed

[2019-04-01 05:42] k4yt3x commented on #71
btw there's a video demo in the telegram group

[2019-04-01 06:09] dtgraham9 opened #72 "Set video bit rate in FFmpeg images back to video"
Instead of just relying on ffmpeg's -crf flag for quality, I would like to set the bit rate to the value I want.

[2019-04-01 06:28] DonaldTsang commented on #60
Streamlining the process possibly into one single utility, command line or GUI.

[2019-04-01 13:33] k4yt3x commented on #72
Do you know how to do that by any chance? If you have a recommended method, I won't bother looking up solutions anymore.

[2019-04-01 13:38] k4yt3x commented on #60
SVP is more like a video player plugin, how am I supposed to integrate it into video2x?

[2019-04-01 15:06] k4yt3x commented on #72
Should I just add `-b:v` and `-b:a` options?

[2019-04-01 15:11] WSADKeysGaming commented on #60
You have to pay for svp pro to encode videos to 60fps and it's not
opensource. If anything use butterflow after the video is upscaled

On Mon, Apr 1, 2019, 8:38 AM K4YT3X <notifications@github.com> wrote:

[2019-04-01 17:43] k4yt3x commented on #60
@WSADKeysGaming not a bad idea. Although this might be a bit outside the scope of this project, but I will take a look once my jobs on hand are done.

[2019-04-01 17:45] dtgraham9 commented on #72
Just add flag -b:v.  I know the format is along this -b 800K for 800kB.  M can be used instead of k for mB could be specified.  I remux the original audio tracks anyway.  A second potential change is make it so the -crf flag flag can be changed by user.  -crf flag I believe goes the higher the value the lower the quality.  I am just pointing this out because I don't personally like how my raw 480p

[2019-04-01 17:56] k4yt3x commented on #72
You can simply add a new key into the config, but I will update the template config as well.

[2019-04-01 17:56] #72 closed

[2019-04-02 05:07] plneappl commented on #69
I got the same error with a `.mpg`:
[code]

[2019-04-02 05:22] DonaldTsang commented on #60
@WSADKeysGaming so what other options are there except SVP and butterflow? Also any detailed comparisons of these tools?

[2019-04-02 05:39] k4yt3x commented on #69
The output you provided doesn't give much information.
Could you please provide more context?

[2019-04-02 05:42] plneappl commented on #69
Whoops, sure, updated last comment.

[2019-04-02 05:54] k4yt3x commented on #69
Thanks.
Hmmmm basically ffmpeg cannot read video stream width&height.
There doesn't seem to by anything wrong with the ffprobe command, so is it just the problem of the video?

[2019-04-02 14:05] plneappl commented on #69
`ffprobe` reports a `coded_width`/`coded_height` of 0, what's the difference between `coded_width` and `width`?

[2019-04-02 17:21] k4yt3x commented on #69
ahhhh lemme take a look at the difference between the two

[2019-04-02 17:45] AltWhite opened #73 "[NULL @ 000001d568c48480] Unable to find a suitable output format"
## Environment Information

Latest Version as of March 28, 2019:

|Module|Version|
|-|-|
|`video2x`| 2.7.0|
|`ffmpeg`||
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||

## Symptom
Output format [NULL @ 000001d568c48480] - [!] ERROR: An exception has occurred
The program successfully completes the conversion and migrates audio and subtitles (https://imgur.com/a/bZwGkw4 , https://imgur.com/a/IfwpFB6),

[2019-04-02 19:18] k4yt3x commented on #73
Hello there, I looked at your screenshot and you seemed to have configured everything properly.
Video2X should automatically output the video in the same format the input video is using, but I'm not sure why it's not working properly.

Could you please insert these lines in `video2x.py` just to debug the problem?

https://github.com/k4yt3x/video2x/blob/3d46e1a822236db1cb25f970ae1c8bf492334f1d/bin/

[2019-04-02 19:49] AltWhite commented on #73
Ah weird, well I ran it https://imgur.com/a/zOvgI5e

[2019-04-02 20:01] k4yt3x commented on #73
I think you pasted the lines wrong.
Take a screenshot of the code.

[2019-04-02 20:13] AltWhite commented on #73
Hmm https://imgur.com/a/HfXzTw3

[2019-04-02 20:16] k4yt3x commented on #73
line 316 and 317 should be indented. compare your code with my screenshot above

[2019-04-02 20:17] AltWhite commented on #73
You're correct, lol just saw my bad

[2019-04-02 20:24] k4yt3x commented on #69
should be fixed in https://github.com/k4yt3x/video2x/commit/405c4b66363c534eda8c08f4820080497c7bb1d3

[2019-04-02 20:24] #69 closed

[2019-04-02 20:31] AltWhite commented on #73
It skipped upscaling part and went to ffmpeg as it should, it then looped back and started to convert frames without stopping (just for future debugging purposes) https://imgur.com/a/bMS7zuf

[2019-04-02 20:49] k4yt3x commented on #73
It should not be skipping. It should pause before upscaling.

[2019-04-02 20:55] AltWhite commented on #73
Ah okay, well it didn't pause for me so I must have done something wrong: inserted code, compile test, saved, cmd, same command as before.

Yes, I dragged the file into the command prompt, it created the path (which is correct). https://imgur.com/a/o5BHGcN

[2019-04-02 21:36] k4yt3x commented on #73
Ok now I see what's going on.
If the input is the file, then the output should also be a file, not a folder.

Video2x is working as intended.

[2019-04-02 21:47] AltWhite commented on #73
This is a bug though, you have to specify the file type.

For instance, this works:
C:\Users\Master\Documents\waifu2x_video2x\video2x-master\video2x-master\bin>python video2x.py -m gpu -r 4 -d waifu2x_converter -i C:\Users\Master\Desktop\Test4.mkv -o C:\Users\Master\Desktop\G\**Name.mkv**

So how do I get it to automatically input the original name automatically with the correct file type?

[2019-04-02 22:17] k4yt3x commented on #73
If you're handling a single file, you'll have to specify both the input file name and the output file name.
If you're handling files in a folder, then all input file names will be copied, also the video codec.

Maybe I can add a function where if you don't specify the output file, it generates the file name and copies the input file format for you?

[2019-04-02 22:19] AltWhite commented on #73
That would be a nice function, but I think just adding in the instructions a note about my updated comment - thank you for the timely responses.

[2019-04-03 02:32] k4yt3x commented on #73
I'll consider adding a function to check the path.
You're welcome.

[2019-04-03 02:35] k4yt3x commented on #73
I just thought about it, how would I perform the check though?
match "^*.*" ?

[2019-04-03 04:50] BrianPetkovsek commented on #67
MSVCP140.dll and Concrt140.dll is a part of the Microsoft Redistributable Package.
You can download and install the official redistributable package here.
https://www.microsoft.com/en-us/download/details.aspx?id=48145

Im also recommending deleting the files downloaded from DLL-files.com and run a malware scan. as any unofficial dll probably has viruses.
A good malware scanning software is: https:

[2019-04-03 05:43] SupremMotu commented on #67
Thanks, I just made a new VM, downloaded Microsoft C++ Redistributable, and it worked liked a charm. Thanks for the help.

[2019-04-04 01:05] cikeZ00 commented on #67
Got the same error.
Selecting the error text and copying it gives me this:

変変換換にに失失敗敗ししたたフファァイイルルががあありりまますす

[2019-04-04 04:35] AltWhite commented on #73
What I was thinking is if --> Input =/= Output (file type) follow path and get directory items as list, parse the end of the path and look for a name match in directory (File.Type), then output that type if found, else output a message to the user at least telling them for this specific situation what's wrong. Not a big deal anymore, but it's a feature haha.

[2019-04-04 04:52] k4yt3x commented on #73
Sorry I'm kinda confused. Maybe I didn't sleep enough.
Could you please give an example?

[2019-04-04 05:12] AltWhite commented on #73
Haha it is late, I just got two ideas confused there, I don't want to waste more of your time though so don't worry about it if it still doesn't make sense or isn't feasible. Take this path for example:

python video2x.py -m gpu -r 4 -d waifu2x_converter -i C:\Users\Master\Documents\Input.mkv -o C:\Users\Master\StoreVideo\SubFolder   (notice missing .mkv on output)

Take path directory (C:\Users\M

[2019-04-04 06:10] k4yt3x commented on #73
I'm expecting input type to match output type, so I think what I'm going to do is:

1. input = something.mp4
1. output = folder1

if output is folder:
    warn user file IO mismatch
elif output does not match *.* (missing suffix):
    warn suffix needed

[2019-04-04 14:50] AltWhite commented on #73
Ah yeah, that's way more simple than mine. Looks great to me! Thanks.

[2019-04-05 16:39] Incr3dible opened #74 "Support for Linux"
## Description
As for now it can only run on Windows will be there any update to support linux?

## Sources
https://github.com/k4yt3x/video2x#prerequisites

[2019-04-05 16:50] k4yt3x commented on #74
I originally wanted to design this program for Linux, but it's way harder to setup waifu2x on Linux. If you have any documentations on easy waifu2x implementations for Linux, please post them here and I'll make video2x Linux compatible.

[2019-04-05 16:55] k4yt3x commented on #74
We can still keep this open as a long-term project.
I still *want* to add Linux support.

[2019-04-05 19:02] Smarthard commented on #74
@k4yt3x I looked through [AUR](https://wiki.archlinux.org/index.php/Arch_User_Repository) packages in my arch linux, there was:
- waifu2x
- waifu2x-converter-cpp
- waifu2x-converter-glsl

So, I suppose that both waifu2x and waifu2x-converter-cpp are cross-platform. The problem is that linux users may install any possible dependecies by themselves. In that way, I suggest you to write separate shell

[2019-04-05 19:18] Smarthard commented on #74
I'll try to install it and look for some manuals or something

[2019-04-06 00:01] DJDiarrhea opened #75 "Issue with video output"
The Video I get after upscaling is, according to the details section of the file itself the correct resolution and framerate but 0 seconds long

[2019-04-06 03:48] k4yt3x commented on #75
Could you please provide the program outputs?

[2019-04-06 14:22] k4yt3x commented on #67
If it's solved then I'm closing this issue.

[2019-04-06 14:22] #67 closed

[2019-04-06 14:22] k4yt3x commented on #67
@cikeZ00 if you're getting the same error as him, maybe the same fix would work for you.

[2019-04-06 20:29] DJDiarrhea commented on #75
Sure here's the cmd logs and a copy of the temp directory
![Uploading error.JPG…](cmd logs)
[Uploading video2x.zip…](temp directory)

[2019-04-06 20:32] DJDiarrhea commented on #75
Sure here's the cmd logs and the temp directory
![error](https://user-images.githubusercontent.com/49327254/55674938-85e4be00-58bb-11e9-8a0f-f996fc5c69a4.JPG)
[video2x.zip](https://github.com/k4yt3x/video2x/files/3050915/video2x.zip)

[2019-04-07 14:58] k4yt3x commented on #75
Hi, based on the output, I don't see any problems.
Is it possible for you to send the video over so I can do some debugging?

[2019-04-08 06:59] databoose opened #76 "Parameter option to wait for additional VRAM or automatic fallback to system RAM"
I'd like it if there were two parameters such as the following.

**-vram_fallback**
Utilizes system ram if no more VRAM can currently be allocated with the GPU method, if there is a good, reliable percentage of the VRAM available when some of the data is already within system ram, it queues the next frames to be stored within VRAM, re-checking every 250 milliseconds give or take and changing the q

[2019-04-08 12:37] cikeZ00 commented on #67
@k4yt3x upon a closer look the errors between me and him seem to be different.

Since i don't know exactly what error he has I looked through the screenshot and the arrangement of the symbols are different to mine.

I don't know if I understood the error correctly since im still new to Japanese but it seems as tho it can't find the images it stored in the temp folder

[2019-04-08 12:54] k4yt3x commented on #76
I'd like to implement it, but video2x doesn't control this part, waifu2x does.
Therefore, if you would like this to be added, you're first in the wrong repository.
Also, I believe memory-related stuff are managed by CUDA, OpenCL and such.

[2019-04-08 13:13] k4yt3x commented on #67
@cikeZ00  If you're unsure whether you'll be able to solve the issue or not, just open a new issue and provide the details and I'll take a look.

[2019-04-09 19:53] DJDiarrhea commented on #75
[sure here you go](https://github.com/k4yt3x/video2x/files/3060740/wankel.zip)
Sorry for forgetting to answer.

[2019-04-09 22:43] Ciellent opened #77 "Output video always black"
video2x.exe -m gpu -r 2 -i C:\Users\REDACTED\Desktop\1\1.mp4 -o C:\Users\REDACTED\Desktop\2\1.mp4

 is what i input into the cmd and when it finishes the video is always black right to the end but the audio is working fine.

[2019-04-09 22:46] Ciellent commented on #77
`Microsoft Windows [Version 10.0.17134.648]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\Windows\system32>cd C:\Users\REDACTED\Desktop\video2x-2.7.0-win32-full

C:\Users\REDACTED\Desktop\video2x-2.7.0-win32-full>video2x.exe -m gpu -r 2 -i C:\Users\REDACTED\Desktop\1\1.mp4 -o C:\Users\REDACTED\Desktop\2\1.mp4
__      __  _       _                  ___   __   __
\ \    / / (_)     | |

[2019-04-09 22:49] Ciellent commented on #77
[code]

[2019-04-09 22:58] cr08 opened #78 "Exception has occurred with specified video2x_cache_folder"
## Environment Information

|Module|Version|
|-|-|
|`video2x`|[latest commit](https://github.com/k4yt3x/video2x/commit/405c4b66363c534eda8c08f4820080497c7bb1d3)|
|`ffmpeg`|'latest' version N-93506-g27c94c57dc|
|`waifu2x-caffe`|1.0.0|
|`waifu2x-converter-cpp`||

## Symptom

Specifying a video2x_cache_folder in the json config errors out and won't continue to the initial video-to-frame stage. Leavin

[2019-04-10 00:25] k4yt3x commented on #78
Hmm I'm actually not sure what's going on.
It might have to take me a while to find time to fix this as exam week is approaching.

[2019-04-10 00:26] k4yt3x commented on #77
If you set `preserve_frames` to `true` in the config file and look into the temp folders, you would find a file called "no_audio.mp4". Does that file contain correct video?

[2019-04-10 03:59] Mario-119 opened #79 "[Error] An exception has occurred"
While up-scaling a video, everything runs fine until it hits 33% or so. The error pasted below comes up, and all progress halts. This has happened 2 times in a row, so it doesn't seem to be a one off problem. I read that some people were experiencing similar issues, but none of the fixes listed have worked for me.
[code]

[2019-04-10 11:36] k4yt3x commented on #79
This error message doesn't tell all the problems.
Include more logs and preferably screenshots if possible.

[2019-04-10 12:08] Ciellent commented on #77
Unfortunately, it does not. The no_audio.mp4 also seems to be broken as it's length is 19 seconds but it never plays and is still just black.

[2019-04-11 00:51] k4yt3x commented on #75
This video upscales on my end just fine.

Command used:

[wankel_upscaled.zip](https://github.com/k4yt3x/video2x/files/3066431/wankel_upscaled.zip)

[2019-04-11 18:29] k4yt3x commented on #77
Interesting. Either something's wrong when the frames are being extracted, or when the frames are being pressed back into a video. Do the frames in the temp folders look normal?

[2019-04-11 18:30] k4yt3x commented on #76
This feature will not be implemented as it's not video2x's job to controll vram.

[2019-04-11 18:30] #76 closed

[2019-04-11 18:31] k4yt3x commented on #75
I think it's just something wrong with your setup.
If you still can't figure it out, keep posting on this thread. I'm closing the issue for now.

[2019-04-11 18:31] #75 closed

[2019-04-11 18:34] DJDiarrhea commented on #75
Yeah I guess my installation went wrong somewhere. I'll try around a bit. Thanks for the answers.

[2019-04-11 18:41] k4yt3x commented on #75
If it still doesn't work, try using the python version instead of the exe version and see if it fixes anything.

[2019-04-11 18:43] DJDiarrhea commented on #75
I'll try that. I'm rather busy at the moment though so that might take a while.

[2019-04-11 18:57] k4yt3x commented on #73
Implemented in the newest commit.

[2019-04-11 18:57] #73 closed

[2019-04-12 00:08] kelsieer opened #80 "permission error when generating video2x configuration file"
## Environment Information

|Module|Version|
|-|-|
|`video2x`||
|`ffmpeg`||
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||

## Symptom

it installed dependencies but then gave error when when generating configuration file
## Screenshots or Error Messages

Please paste screenshots or error messages here.
Include as much details as you can, as this greatly helps debugging the problem.

Please paste y

[2019-04-12 01:17] Ciellent commented on #77
Yes they do and look absolutely amazing, it is strange that the frames here are normal but the finalized video is just black.

[2019-04-12 01:41] Ciellent commented on #77
I guess what I can do is compile all these frames together in blender and manually add the audio until the issue is fixed.

[2019-04-12 16:05] k4yt3x commented on #80
Did you download/unpack the files and run them as the same user?

[2019-04-12 16:15] kelsieer commented on #80
Yes. I downloaded the files stated in the step by step tutorial (python and video 2x). Then i ran the video2x_setup.py as the same user. It downloaded the dependencies but got an error when it got to generating video 2x configuration file.

I am the admin of my computer so I dont know why it gives permission error.

[2019-04-13 00:46] k4yt3x commented on #80
Have you tried running it as administrator?

[2019-04-13 03:17] kelsieer commented on #80
Isn't it meant to run in the command prompt? How would I run it as administrator in the command prompt?

[2019-04-13 03:47] k4yt3x commented on #80
Well run command prompt as admin.

[2019-04-13 04:24] kelsieer commented on #80
Thanks for the help! I successfully setup video 2x. But now another problem has happened... :(

When I run it says "an exception has occurred" and stops.
![42](https://user-images.githubusercontent.com/49539812/56074525-6e597980-5d82-11e9-8bf8-60665ba9a6a9.PNG)

[2019-04-13 05:26] k4yt3x commented on #80
It looks like that waifu2x-caffe failed. Do you have the CUDA driver installed?

[2019-04-13 10:03] keskas opened #81 "win64"
Good day. I would like to know how to run video2x on win64?
![1](https://user-images.githubusercontent.com/20801283/56078417-7cde7a00-5df0-11e9-8be7-a99fa68a99b2.jpg)

[2019-04-13 13:02] k4yt3x commented on #81
The architecture doesn't matter. Runs the same on any platform with proper GPU drivers.

[2019-04-13 15:49] keskas commented on #81
At startup, 1 screenshot is opened and then the program closes immediately.
How to fix it?

[2019-04-13 17:47] k4yt3x commented on #81
You're not supposed to double click on the exe. Run it from the command line.

[2019-04-13 19:36] keskas commented on #81
This was the launch via the command line.

[2019-04-13 20:37] kelsieer commented on #80
Okay I installed CUDA from Nvidia website but it removed my Nvidia
graphics card drivers, and now my computer doesn't recognize my graphics
card any more.

On Sat, Apr 13, 2019 at 1:26 AM K4YT3X <notifications@github.com> wrote:

[2019-04-13 20:47] k4yt3x commented on #81
Then did you tell it what to do? I don't see any arguments or switches specified.

[2019-04-13 20:48] k4yt3x commented on #80
Oh boy. Sorry but I don't know how to fix that situiation.

[2019-04-13 21:06] kelsieer commented on #80
Could you tell me how you installed the CUDA driver? You got it from here
right? : https://developer.nvidia.com/cuda-downloads

Did it not delete your graphics drivers for you?

On Sat, Apr 13, 2019 at 4:48 PM K4YT3X <notifications@github.com> wrote:

[2019-04-13 21:07] k4yt3x commented on #80
You .. don't need the CUDA toolkit. Just the regular graphics card driver is fine.

[2019-04-17 04:35] #81 closed

[2019-04-17 04:37] k4yt3x commented on #77
Is it possible for you to send the video over so I can test it?

[2019-04-17 23:32] Urgeistenergie commented on #80
Hi there! I new an very enthusiastic in lossless video upscaling.
This is what I found in a german forum regarding this issue:

"Nvidia has removed the implementation of the CUDA-based encoder (nvcuenc.dll) with version 340.52 from the drivers."
...
"If you cannot see the "H.264 (Nvidia® CUDA™)" option...

Please try the solutions below:
1. Check your graphics card driver
NVIDIA removed the nvcuve

[2019-04-17 23:45] k4yt3x commented on #80
@Urgeistenergie Thank you for the suggestions, but ffmpeg and waifu2x are supposed to work with GeForce 419.35+ though. If he installed the newest drivers correctly, there shouldn't be a problem.

[2019-04-18 01:41] kelsieer commented on #80
Thank you! It worked.

I got a questions tho. Does it work with mkv files?

[2019-04-18 01:59] cr08 commented on #78
Not completely sure but after trying to implement a hacky workaround in the meantime under upscaler.py around lines 55-63 it appears it may be overriding what is in video2x.py? After hardcoding a different folder over in video2x.py it still seemed to want to throw that error and point to the %temp% directory and it is indicating that is failing under upscaler.py.

[2019-04-18 03:11] k4yt3x commented on #80
@kelsieer should work with all formats that ffmpeg supports (i.e. mkv should work fine.)

[2019-04-18 03:11] #80 closed

[2019-04-18 03:30] k4yt3x commented on #78
I suddenly understand why the error occured. The variables used to be passed to the upscaler class upon Upscaler initialization, but when I changed the way they're being passed, video2x cache folder is set to default.

Anyways, I know where the problem is. I'll fix it right after the exam is done.

[2019-04-18 11:28] Ciellent commented on #77
Sure, [https://drive.google.com/open?id=1IZDM8EMmCH8GS6uxLMqdDu8xDZr-JbA3](url)

[2019-04-18 18:57] k4yt3x commented on #78
@cr08 It's fixed in the newest update.

[2019-04-18 18:57] #78 closed

[2019-04-18 19:10] k4yt3x commented on #77
Wait so this is the file which I provided.
Then it should work just fine.

[2019-04-18 19:11] k4yt3x commented on #77
I think it might be more of a problem with your setup.
Also, try using the newst version.

[2019-04-19 11:37] Danika207 opened #82 "Not great for low-end"
I got it to "work", i've succesfully downloaded it with python, cmd.
But when the upscaling process was startin, It just crashed and said that i should lower the thread count or something, and before i even started the process it said that my gpu's vram is insufficent or something.
I tought 2gb of Vram is enough, but i guess not. I was trying all day-night (with other programs too), but nothing wo

[2019-04-19 12:31] metzo007 commented on #79
I did try Video2X 2.7.0 today and got the same error message

!] ERROR: An exception has occurred
Traceback (most recent call last):
  File "video2x.py", line 306, in <module>
  File "upscaler.py", line 293, in run
  File "upscaler.py", line 232, in _upscale_frames
  File "waifu2x_caffe.py", line 83, in upscale
  File "subprocess.py", line 487, in run
subprocess.CalledProcessError: Command '['C:\\

[2019-04-19 13:52] cr08 commented on #82
So with waifu2x-caffe I believe the new default model is cunet which is a bit more intensive than some of the others. There's a couple options you have:

1) Try a different model that may be less intensive
2) Tweak the crop and batch size settings for waifu2x-caffe which should reduce the Vram load at the tradeoff of maybe taking a little longer (this is what I'm currently having to do with my GTX

[2019-04-19 13:56] Danika207 commented on #82
Thank you. I'll try.

[2019-04-19 14:11] Ciellent commented on #77
I re-downloaded the latest version but it is still just black. It probably may be just an issue with my setup.

Here are my specs:
https://imgur.com/ekjAvaS

[2019-04-19 14:23] cr08 commented on #74
Just throwing in my +1 for this. Only reason I'm running a Windows VM at the moment is for this alone and it'd be nice to trim the fat on my VM box and run a barebones *nix install with the GPU passed to it.

Looking at the documentation on the packages listed above it does appear the upstream [waifu2x](https://github.com/nagadomi/waifu2x) package that they pull from supports CUDA so it should be

[2019-04-19 16:20] k4yt3x commented on #82
@Danika207 if it warns you about insufficient VRAM, you should still be able to run it with one thread.

[2019-04-19 16:21] k4yt3x commented on #79
Did you try 2.7.1?

[2019-04-19 16:21] k4yt3x commented on #77
Are you running 2.7.1?

[2019-04-19 16:22] k4yt3x commented on #74
@cr08 for sure I will add Linux support. I know it's harder to setup, but I'm personally more willing to run this kind of applications on Linux.

The only problem here is that it would take a lot of time to develop and test the changes.

[2019-04-19 17:42] Ciellent commented on #77
I was using 2.7.0 from the releases page but I found the 2.7.1 version and I will use that one now and let you know if it works or not.

[2019-04-19 18:04] Ciellent commented on #77
It still doesn't work with 2.7.1

[2019-04-19 19:03] Urgeistenergie commented on #77
I also have the same issue. Black Video audio is fine. I had no I deas how to go on. So I gave up.

[2019-04-19 19:44] chirsmitch commented on #77
I think I might have figured this out. Apparently ffmpeg doesnt do well encoding 4:4:4 streams. When I added the arguments -pix_fmt, yuv420p to the convert_video function and the migrate_audio_tracks_subtitles function in ffmpeg.py my video started working. I just cobbled this info together from ffmpeg troubleshooting posts, I don't actually know whats going on if someone else wants to take it fro

[2019-04-21 02:47] k4yt3x commented on #74
Update: what do you guys think about this?

https://github.com/nagadomi/waifu2x-caffe-ubuntu/blob/ubuntu/INSTALL-linux.md

[2019-04-21 02:51] jitsuCM commented on #77
Having the same issue here. @chirsmitch could you post how exacly your arguments look like right now? I managed to get rid of the black video, but now it's only a single frame for the whole duration.

[2019-04-21 04:26] chirsmitch commented on #77
![ffmpeg](https://user-images.githubusercontent.com/12040551/56465483-a3d61680-63c3-11e9-8da1-dbb41439d8be.PNG)

[2019-04-21 07:32] jitsuCM commented on #79
Same issue on 2.7.1. I Managed to track this down a bit. Running video2x like this:

`(video2x) D:\video2x>python video2x.py -i 1.mp4 -o 2.mp4 -y upresnet10 -t 3 -r 1.5 -m cudnn`

Gives the already known error message:
`Upscaling Progress:   0%|                              | 0/596 [00:01<?, ?it/s][!] ERROR: An exception has occurred
Traceback (most recent call last):
  File "video2x.py", line 318

[2019-04-21 09:41] jitsuCM commented on #77
Thanks. Unfortunately for me, this produces a still frame video, like if it wasn't properly reading the whole batch but was using only the first frame.

[2019-04-21 14:21] extradough opened #83 "Change cache directory"
Would it be possible to add an argument that would allow you to manually set the cache directory, or if there is a way to do this it should be mentioned in the wiki.

[2019-04-21 17:17] k4yt3x commented on #83
It's in the configuration file. I will add a page about the configuration file later.

Change the `video2x_cache_folder` key in `video2x.json`.

[2019-04-21 17:17] #83 closed

[2019-04-21 17:18] k4yt3x commented on #79
One thing to point out, the `-y/--model_dir` argument should not just specify the name of the model, but the actual path to the folder that contains the model JSON files.

[2019-04-22 03:06] k4yt3x commented on #77
@Ciellent @jitsuCM with some discussion going on in the telegram group, some found that VLC plays the video just fine.

Did you guys try playing the upscaled video via VLC?

[2019-04-22 09:08] toolewdpersona commented on #77
@k4yt3x
Yes it works!
Thx

[2019-04-22 14:48] jitsuCM commented on #79
That is one valuable info. Will try that today.

[2019-04-22 18:17] k4yt3x commented on #59
Unclear feature request without further responses. Closing issue.

[2019-04-22 18:17] #59 closed

[2019-04-22 18:18] k4yt3x commented on #60
Might take a look into butterflow, but SVP is a no-go. It's paid standalone software.

[2019-04-22 18:18] #60 closed

[2019-04-22 18:19] k4yt3x commented on #77
I wonder why the windows built-in player doesn't work.

[2019-04-22 22:04] k4yt3x commented on #83
@extradough see this: https://github.com/K4YT3X/video2x/wiki/Basic-Configuration

[2019-04-22 22:27] Sparktank commented on #60
SVP primarily relies on either Avisynth (c++) or Vapoursynth (python) to interpolate video.
The plugins required are based on open-source plugins.
Paying for it primarily gives you a more flexible GUI to customize the settings more than you can with the free version, as well as additional features (outside the scope of interpolating).

The same can be achieved with open-source Avisynth/Vapoursynth

[2019-04-22 22:44] nicolaslandoni commented on #77
Hey guys, I'm having pretty much the same issue, black frames and get the images properly exported, but the end results is black video.
Sample given on the repo and also tried my own.

[2019-04-23 00:52] k4yt3x commented on #77
@nicolaslandoni does VLC play the video correctly?

[2019-04-23 11:34] nicolaslandoni commented on #77
@k4yt3x nope, I've seen the static images being generated properly so the issue seems to be putting the video back together, I grabbed the output video and tried a couple of other programs to try analyze the video but handbrake freaks out. Audio is fine though.

[2019-04-23 11:37] DonaldTsang commented on #60
@k4yt3x I would rename the issue for any SVP alternatives

[2019-04-23 11:48] jitsuCM commented on #77
@nicolaslandoni @k4yt3x I can also confirm that the ffmpeg decomposition + video2x  waifu upscaling is properly generating the image batches, and the images seem fine.

[2019-04-23 12:49] nicolaslandoni commented on #77
It seems to be a common issue with ffmpeg swapping the encoding options might solve the issue, will check in a couple of hours playing around with it.

[2019-04-23 14:12] nicolaslandoni commented on #77
I was trying with diff options without luck, though forcing '-pix_fmt', 'yuv420p', improved a little since windows explorer at least shows you a thumbnail.

I find particular funny that the video track is longer than the overall expected length on the file metadta.

![Capture-Sample](https://user-images.githubusercontent.com/1806963/56587645-40f9a080-65b8-11e9-8001-5133bd455a47.PNG)

![Capture-Sam

[2019-04-23 14:32] jitsuCM commented on #77
@nicolaslandoni It's right in the Video stream metadata of the converted file:
`Duration 34ms`

Which is around an equivalent of one frame. So it's basically an audio clip =]

Somehow the -i % is not being recognized properly?

[2019-04-23 15:06] k4yt3x commented on #77
That's sooo strange. What footage are you guys using? It might just be an encoding issue?

Does it work if the input video is mp4 h264?

[2019-04-23 15:16] nicolaslandoni commented on #77
I've being testing with the sample provided https://files.flexio.org/Resources/Videos/sample_input.mp4 and also my own, getting pretty much the same result, videos tracks of a few ms running on 2.7.1

[2019-04-23 17:29] nicolaslandoni commented on #77
OK, I saw that the frames being extracted weren't in proper sequence, like it was skipping one frame, checked the other folder and some of the images weren't up-scaled. So as a test run the thing as single thread and worked just fine.

[2019-04-24 03:43] Smarthard commented on #74
@k4yt3x well, this project seems to be no more maintained - the latest commit was in May, 2017. Maybe it would be better to use `waifu2x-converter-cpp`?

I've found an issue with [Arch PKGBUILD](https://github.com/tanakamura/waifu2x-converter-cpp/issues/4). But nothing interesting there and I still don't know how to simplify installation process for debian-family or whatever else Linux distro. How

[2019-04-24 03:54] Smarthard commented on #74
For a testing setup I recommend you to use Manjaro Linux - it's installation and configuration not take too much time like it would be with Arch. But it's arch-based distro, so it's compitability with Arch is 100% and with AUR too.

[2019-04-25 19:12] velara3 opened #84 "Support for Mac"
Support for Mac

[2019-04-25 19:46] k4yt3x commented on #84
I don't even have a machine with macOS to test anything.

[2019-04-25 21:04] Ciellent commented on #77
@k4yt3x i can confirm the vlc media player works and displays the video perfectly. The video has audio and looks much better.

[2019-04-25 21:04] Ciellent commented on #77
Thank you very much you saved me a lot of time

[2019-04-25 21:31] k4yt3x commented on #77
@nicolaslandoni just to make sure, VLC doesn't play the output video?

[2019-04-25 21:32] k4yt3x commented on #77
@Ciellent np. glad it works, though it looks like it didn't work for everybody.

[2019-04-25 22:48] toolewdpersona commented on #77
@k4yt3x
First I started using VLC as you recommended.
But later I was able to deal with ffmpeg.py
And now I have the output video is obtained without artifacts (not black) and is played in a normal player
MPC-HС
All you had to do was add these values.

[2019-04-26 02:11] velara3 commented on #84
I meant MacDonalds. Support the Big Mac and fries combo.

[2019-04-26 14:53] nicolaslandoni commented on #77
@k4yt3x after running the process as a single thread worked for me, it wasn't an encoding issue rather more like a how the threads were exploding the original video frames in folders and then the upscaler wasn't doing its job. As a result was not all the frames where they were supposed to be and creating the video from frames was bailing out, hence the empty video track.

[2019-04-28 05:16] k4yt3x commented on #77
@toolewdpersona

The pixel format argument should be passed on to the command from the configuration file:

![image](https://user-images.githubusercontent.com/21986859/56859036-10688c80-6953-11e9-916d-075f762b34f2.png)

Maybe what I need to do is to add the same arguments for the track migration step?
Does it work if you add this line in `video2x.json`?

![image](https://user-images.githubusercont

[2019-04-28 05:16] k4yt3x commented on #77
@nicolaslandoni do the number of upscaled frames match the number of extracted frames?

[2019-04-28 05:17] #82 closed

[2019-04-28 05:17] k4yt3x commented on #79
No response from issue owner.

[2019-04-28 05:17] #79 closed

[2019-04-28 08:36] toolewdpersona commented on #77
@k4yt3x
I returned the file to the original state ffmpeg.py
then started experimenting with video2x.json
Added one line "-pix_fmt": "yuv420p", (not work)
![v1](https://user-images.githubusercontent.com/49842912/56861479-bcd55d80-69a9-11e9-82d1-e4f14b309d19.png)
Did everything as in the screenshot (not work)
![v2,png](https://user-images.githubusercontent.com/49842912/56861435-5ea87a80-69a9-11e9-9b

[2019-04-28 10:34] nostalgicc commented on #83
it doesn't work as soon as I change that key in video2x.json:

Traceback (most recent call last):
  File "video2x.py", line 235, in <module>
    config = read_config(args.config)
  File "video2x.py", line 170, in read_config
    config = json.load(raw_config)
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\json\__init__.py", line 296, in load
    parse_constant=parse_cons

[2019-04-28 10:37] nostalgicc commented on #83
there should be a comment about how to format directories, with // instead of / which triggers escape in python.

Not a programmer, took ages to figure it out...

[2019-04-28 13:16] nicolaslandoni commented on #77
@k4yt3x while in multithreading  ( was running 2 threads ) only half of the extracted images were getting upscaled, so when the video composition was going to get executed only half of the frames were present, so process bailed out without error, resulting an empty black video.

[2019-04-28 15:22] k4yt3x commented on #83
Sure.

[2019-04-28 16:51] k4yt3x commented on #77
@nicolaslandoni that could mean that one of the threads ran out of memory and failed.

[2019-04-28 19:33] k4yt3x commented on #77
@toolewdpersona

Arguments seems to be passed on just fine.

![image](https://user-images.githubusercontent.com/21986859/56869154-e2bf2a00-69ca-11e9-9def-cb74c4a52110.png)

[2019-04-28 20:02] nicolaslandoni commented on #77
@k4yt3x ok, man that would be heavy cuz it's running on hardware that by no means means is low end. 16GB or ram and 11 GB Vram

[2019-04-28 20:29] k4yt3x commented on #77
@nicolaslandoni that hardware configuration sounds fine for more threads. If you watch the logs carefully, you might be able to see where waifu2x fails and what it says.

waifu2x-caffe doesn't come with native support for multithreading, implementing it with Python isn't as stable and reliable. If you're interested, do a test to see if multithreading actually speeds waifu2x-caffe up.

In contrast,

[2019-04-28 21:33] toolewdpersona commented on #77
@k4yt3x
Yes, I checked the console and I have the same arguments as you have. But the video refuses to start normally, without these parameters "'-pix_fmt', 'yuv420p'," in ffmpeg.py itself
But I am quite satisfied with this option.

[2019-04-28 21:47] k4yt3x commented on #77
@toolewdpersona does it work if you **remove**`shell=True` in ffmepg.py line 147?

![image](https://user-images.githubusercontent.com/21986859/56870459-a5b06300-69dd-11e9-8603-a41ab1f10b3b.png)

[2019-04-28 22:31] k4yt3x commented on #58
@thescratcho I looked through the code, and I still believe that this feature should not be implemented. In order to convert the width height input into scale ratio, too many things need to be added, and the benefit will not outweigh the cost.

[2019-04-28 22:31] #58 closed

[2019-04-28 23:02] k4yt3x commented on #65
On this topic, I was able to simply pause and resume the waifu2x process from `resmon`.
That's some progress I guess.

![image](https://user-images.githubusercontent.com/21986859/56871187-2d9b6a80-69e8-11e9-9552-b4ae5da24b51.png)

[2019-04-29 01:11] nostalgicc opened #85 "Upscaling Progress not using GPU"
waifu2x-caffe-cui

-gpu is used in command.

gpu usage still 0. Is this normal?

[2019-04-29 02:38] k4yt3x commented on #85
Which GPU attribute are you looking at?
Could you take a screenshot of the task manager?

[2019-04-29 03:16] nostalgicc commented on #85
![image](https://user-images.githubusercontent.com/38463032/56874963-39cb0a80-6a70-11e9-9022-09cd49800b86.png)

[2019-04-29 03:38] k4yt3x commented on #85
I meant this page:

![image](https://user-images.githubusercontent.com/21986859/56875398-b62d0180-6a0e-11e9-82a3-3112dc5c3ad8.png)

[2019-04-29 03:42] nostalgicc commented on #85
![image](https://user-images.githubusercontent.com/38463032/56875489-e78be880-6a73-11e9-9724-c8ef35736b89.png)

[2019-04-29 03:44] k4yt3x commented on #85
Run an upscale and try switching the view to CUDA

![image](https://user-images.githubusercontent.com/21986859/56875519-92b68680-6a0f-11e9-9250-f4273130220d.png)

[2019-04-29 03:45] nostalgicc commented on #85
![image](https://user-images.githubusercontent.com/38463032/56875544-510bf700-6a74-11e9-8b31-f46ded9b5034.png)
my bad... didn't even know about this..

[2019-04-29 03:46] k4yt3x commented on #85
Seems to be a frequently asked question. I might create a Q&A page to collect these frequent questions.

[2019-04-29 03:46] #85 closed

[2019-04-29 04:13] k4yt3x commented on #74
I personally use Debian-based system a lot, so is Debian my daily OS, so I understand Debian family better than Arch. I might just start with Debian and see how far I get.

[2019-04-29 07:13] k4yt3x commented on #74
Just investigated, DeadSix27/waifu2x-converter-cpp supports linux builds, and already has AUR builds.

[2019-04-29 11:00] nostalgicc opened #86 "An instance of failure - No such file or directory?"
[code]

[2019-04-29 22:21] metzo007 opened #87 "Issues I found after some long nights of testing"
Issues I found after some long nights of testing

Hi,
I did a lot of test with a lot of differend computers and would like to share the results

A GTX 950 will not work at all because it has only 2GB memory
A GTX 970 will work with one thread, and same goes for the 1050 Ti

However, on all my tests I was only able to get the "-r 2" working. Using  "-r 3" or higher alway results in errors. But I wa

[2019-04-29 22:25] metzo007 commented on #86
This is just me, but I remame the videos to 1.mp4 and put them into D:/ to avoid any error regarding this issue

[2019-04-29 23:02] nostalgicc commented on #86
I renamed the output to test.mp4 and got a 265kb "blank" mp4 file instead...

Upscaling Progress:  50%|##########################9                           | 4780/9562 [8:43:55<8:33:48,  6.45s/it] 変変換換にに成成功しま功した
ました
2019-04-30 05:59:46.646791 [+] INFO: [upscaler] Thread 0 exiting
2019-04-30 05:59:46.666737 [+] INFO: [upscaler] Thread 1 exiting
2019-04-30 05:59:46.666737 [+] INFO: Killing upscaled

[2019-04-29 23:08] k4yt3x commented on #86
I wonder what's causing the issue

[2019-04-29 23:10] k4yt3x commented on #87
Hi @metzo007, the RAM usage is not determined by video2x, but rather waifu2x. Therefore, there's really not much I can do about this.

If you want to try some different approaches, try the `waifu2x-converter-cpp` driver.

I'll look into this.

[2019-04-29 23:11] k4yt3x commented on #86
Maybe FFmpeg doesn't recognize a certain character in that file name?

[2019-04-29 23:21] nostalgicc commented on #86
Considering it i successfully read the input and extracted all the frames I reckon the file name should be fine. So I then changed the cache directory back to default (null) and output to D:\test.mp4 which got the second error with the tiny blank file.

[2019-04-30 03:41] k4yt3x commented on #86
Hang on, you're using multiple threads. Try using only 1 thread and see if that solves the bug, cuz it looks like that one of the threads failed.

[2019-04-30 04:24] 251pigsinspace opened #88 "Thread Issues"
Hello

Starting to learn how to use the program, and im having a hard time trying to understand my issue. My computer seems to only want to run 1 thread of the program, and the documentation doesn't really mention how to fix this.

If i bump into anything else, I will comment on this

[2019-04-30 04:56] nostalgicc commented on #86
sorry I couldn't find how to set the number of threads, is it something I put into the command?

[2019-04-30 05:03] k4yt3x commented on #88
Hi, honestly, running one thread of `waifu2x-caffe` and multiple threads of it doesn't really create that much of a difference in terms of processing speed. I'm even considering to make 1 thread default due to a higher chance of malfunctioning with more threads.

[2019-04-30 05:22] k4yt3x commented on #87
I just tried `-r3` on the sample video and everything seems to work just fine.

[2019-04-30 06:21] metzo007 commented on #87
where do I find the sample video?

This is the error I get on a 640x480 using -r 3

[+] INFO: Starting to upscale extracted images
2019-04-30 08:11:12.741585 [+] INFO: Starting upscaled image cleaner
2019-04-30 08:11:12.744585 [+] INFO: [upscaler] Thread 0 started
2019-04-30 08:11:12.745582 [+] INFO: Executing: ['C:\\video2x\\dependencies\\waifu2x-caffe\\waifu2x-caffe-cui.exe', '--output_extention

[2019-04-30 06:40] k4yt3x commented on #87
You're simply out of memory.

[2019-04-30 07:05] metzo007 commented on #87
got it :-)
So its save to say that for a SD to FullHD you need a 8 GB Card at least, but with a 4 GB Card you can still go from SD to HDready and FullHD in two convertions.

What card can you recommend?

[2019-04-30 12:36] sharathyadav1993 opened #89 "Error when output = subprocess.Popen(['ffmpeg', '-i', video_file],stderr=subprocess.PIPE,pipe_stdin=True).communicate()"
I am trying to extract the frames from the video, but it is showing the below error. The code is below

## Code

[code]

## Bug
---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
~\Desktop\Cybersecurity\moments_models-master\test_video.py in <module>()
     59 else:
     60     print('Extracting fr

[2019-04-30 13:36] 251pigsinspace commented on #88
Ah, then is there something i'm doing wrong? I'm getting about 100 s of processing time per second of video

[2019-04-30 16:30] k4yt3x commented on #87
I'm not rich enough to have used multiple cars to be able to give you an suggestion. I personally use a 1060 6G and it works okay for me for most tasks.

I don't get how your card can't even run just one thread. Does `waifu2x-converter-cpp` work?

[2019-04-30 16:35] WSADKeysGaming commented on #87
Is crop size editable in the JSON file? Sorry, I haven't used this program
in a few months so I don't know what updates were made :). I know that
using -cudnn decreases VRAM using and so does decreasing crop size to 64 in
w2x-caffe.

On Tue, Apr 30, 2019 at 11:30 AM K4YT3X <notifications@github.com> wrote:

[2019-04-30 19:08] metzo007 commented on #87
Funny

using the waifu2x-converter-cpp go the 2GB GTX 950 to work, but will not work with the 4GB 1050 TI

with the 1050 I get this error message

[+] INFO: Starting to upscale extracted images
2019-04-30 20:58:21.441202 [+] INFO: [upscaler] Thread MainThread started
2019-04-30 20:58:21.441202 [+] INFO: Executing: ['C:\\video2x\\dependencies\\waifu2x-converter-cpp\\waifu2x-converter-cpp.exe', '--o

[2019-04-30 19:18] metzo007 commented on #88
a slow GPU will do one frame a second and a fast one two. So 20-40 seconds per second video is normal

[2019-04-30 21:34] Mirrorman95 opened #90 "Upscaling Progress: 0%"
## Environment Information

|Module|Version|
|-|-|
|`video2x`|commit a7d41cafdfb478ee620ae33764d4bc13cee9f288 (4/30/2019)
|`ffmpeg`|ffmpeg-20190315-def18ac-win64-static
|`waifu2x-caffe`|ver 1.2.0.2 (January 2019)
|`waifu2x-converter-cpp`|DeadSix27's waifu2x-converter-cpp v5.2.4 (Mar 25 2019)

## Symptom

Similar symptoms to issue #54. Every time I try to upscale any video, it encounters a fatal er

[2019-04-30 21:43] 251pigsinspace commented on #88
1070ti, is it possible drivers are causing issues?

[2019-05-01 04:16] nostalgicc commented on #86
changed thread to 1, produced a decent sized mp4 file, however still cannot be played. Windows player black screen, third party video players show glitchy grey screen. Corrupt file.

`C:\Program Files\video2x-master\bin>python video2x.py -m gpu -r 2 -t 1 -i E:\[POPGO][FREEWIND][Macross_Do_you_remember_love][Full_HD-BDRIP][AVC_DTS].mpeg -o D:\test.mp4
__      __  _       _                  ___   __

[2019-05-01 05:38] k4yt3x commented on #86
If you follow this solution, does it solve the problem?
https://github.com/k4yt3x/video2x/issues/77#issuecomment-485223710

[2019-05-01 05:41] k4yt3x commented on #90
It looks like some kind of a permission error? I'm not quite sure what the problem is.

Also, you seem to have downloaded waifu2x yourself. I believe setting the program up with the given setup script gives the correct file attributes and permissions, thus no errors.

[2019-05-01 05:49] k4yt3x commented on #89
I've edited your questions to make it more readable.

My solution is that I first use `ffprobe` to get the framerate, and that framerate is then used when combining the frames back into a video.

https://github.com/k4yt3x/video2x/blob/a7d41cafdfb478ee620ae33764d4bc13cee9f288/bin/ffmpeg.py#L38-L67

For extracting frames, please look at the following code sections:

https://github.com/k4yt3x/video2x

[2019-05-01 05:50] k4yt3x commented on #89
Also, in the future, if it's not a video2x bug, please don't put it under the bug tag. Just open a regular issue.

[2019-05-01 05:51] k4yt3x commented on #88
@251pigsinspace I don't think it's the driver. You can also check the task manager for Cuda usage, just switch to your GPU page and select Cuda on one of the graphs and you'll see if your GPU is actually working hard and doing its job.

[2019-05-01 07:40] Mirrorman95 commented on #90
Alright, I ran video2x_setup.py, but even after that I get a similar error. I updated my Error Messages section with the output of my post-setup video2x attempt.

[2019-05-01 08:42] nostalgicc commented on #86
ok I followed this solution, tested a 2 second video, everything works perfectly. Will now try the previous again.

[2019-05-01 09:34] sharathyadav1993 commented on #89
Hi k4yt3x,

Thank you for the solution.
I resolved the issue.

[2019-05-01 09:34] #89 closed

[2019-05-01 19:02] 251pigsinspace commented on #88
Okay so when i go to use the -cudnn option, it crashes out with a bad handle, i tried running it with standard -gpu which went through and processed, but i wound up with a white screen with synced audio

[2019-05-01 19:04] 251pigsinspace commented on #88
![Capture 17](https://user-images.githubusercontent.com/47487427/57036472-fca27c00-6c19-11e9-8212-5c1ace8d41ee.PNG)

Duplicated the original cudnn error i got (im assuming cudnn is the fastest between cpu, gpu, and cudnn?)

[2019-05-02 01:58] nostalgicc commented on #86
success!

[2019-05-02 05:50] k4yt3x commented on #86
Damn so it does work. I'll look into why.

[2019-05-02 05:51] k4yt3x commented on #89
@sharathyadav1993 ur welcome.

[2019-05-02 05:53] k4yt3x commented on #90
@Mirrorman95 does running the command as administrator do you any good?
I'm not quite sure what the problem is right now. I'm more of a Linux person than Windows. I'm therefore not that familiar with how Windows permissions work.

[2019-05-02 08:19] Mirrorman95 commented on #90
I've already tried running the command line program as administrator, but that doesn't fix it.

[2019-05-03 22:26] akai-katto opened #91 "Faster FFMPEG Concept"
I have an idea for Dandere2x that would also be applicable to Video2x (I haven't programmed it yet since busy) and I was wondering if you'd be interested in looking over the proposal and are interested in potentially contributing to it.

https://github.com/CardinalPanda/dandere2x/wiki/Proposed-Method-of-Reducing-Overall-Runtime-in-Video-Upscaling

(i'm not really sure if this is an inappropriate p

[2019-05-03 23:20] k4yt3x commented on #91
@CardinalPanda looked at the proposal. It makes sense, but the FFmpeg part usually just takes seconds to finish, it's not the bottleneck of upscaling really. I am worried that implementing this will result in more-complex and harder-to-maintain code.

I'll do some searches on this topic, but I don't think it should be prioritized.

This is exactly where it should be.

[2019-05-03 23:24] k4yt3x commented on #88
@251pigsinspace to use CUDNN, you first need to have the dll files installed. This can only be done manually. As for how, please Google it and consult Nvidia's official docs.

Also, you seem to be running a older version of video2x? I'll try to fix the problem you have with the `--gpu` option.

[2019-05-03 23:31] CardinalPanda commented on #91
Thanks for letting me know!

I get around ~7-14fps when encoding 4k frames into a video. This motivation came up when it took roughly half an hour to encode 20k (13 minutes @ 24fps) frames into a viewable format, even slower if I choose to compress the video using some codec (5-7 fps).

[2019-05-04 00:24] k4yt3x commented on #91
This might depend on the CPU I guess. My Ryzen 7 1700 encodes 10 minute videos in seconds.
I'll take a look at the concatenation solution, wonder if I can do that with 264 or 265.

[2019-05-04 00:28] k4yt3x commented on #77
I might actually know why this is the case.
With the current method of passing on arguments, we get:

[code]

I believe we need to move the pixle format option before the output video, something like:

[code]

[2019-05-05 03:42] k4yt3x commented on #77
@Ciellent @toolewdpersona could you please check if this build works?

[video2x.zip](https://github.com/k4yt3x/video2x/files/3145107/video2x.zip)

[2019-05-05 05:08] k4yt3x commented on #90
If you change the code on line 83 of waifu2x_converter.py from

[code]

to

[code]

Does this do anything?

[2019-05-06 00:41] Mirrorman95 commented on #90
I checked the current version of github.com/k4yt3x/video2x/blob/master/bin/waifu2x_converter.py, but "completed_command" doesn't show up anywhere there. The closest thing to what you described is line 96:
return subprocess.run(execute, check=True).returncode
Did you want me to modify that line instead?

[2019-05-06 00:52] Evedestroyer commented on #90
Hey, i had the exact same issue, utill I install CUDA and CUDNN.  If you have nvidia graphics card, install both of them and add "-m cudnn" after ur command line, and it should work fine.

[2019-05-06 01:47] k4yt3x commented on #87
@metzo007 as far as what I can see, waifu2x-converter-cpp didn't really do anything and just stopped.
Not sure why.
Try changing silent to false in the config file and run it again to see what happened.

[2019-05-06 01:47] k4yt3x commented on #87
@WSADKeysGaming
![image](https://user-images.githubusercontent.com/21986859/57203585-6787e600-6f7f-11e9-9046-22fbf8222e2e.png)

[2019-05-06 01:53] k4yt3x commented on #90
@Mirrorman95 Yes sorry I was looking at the wrong file lol

[2019-05-06 01:54] k4yt3x commented on #90
@Evedestroyer if you use -m gpu or -m cudnn, CUDA or CUDNN is required. It's stated in the prerequisites section.

[2019-05-06 02:46] Mirrorman95 commented on #90
I've had CUDA v10.0 of the NVIDIA GPU Computing Toolkit installed since January. Is that sufficient?

[2019-05-06 02:56] cr08 commented on #77
Just adding in that I ran into this too recently after syncing my fork back up to upstream. Seemed without the pix_fmt argument added in it was trying to encode to 4:4:4 by default at least with my config. Adding that in seemed to sort it.

I'm also running into an oddity where my filesizes are way off and libx264 options as reported by mediainfo are off as well despite the same ffmpeg arguments b

[2019-05-06 03:38] k4yt3x commented on #77
@cr08 does the above fix work for you?

[2019-05-06 05:42] k4yt3x commented on #90
You need CUDA driver 419.35+ for waifu2x-converter-cpp

[2019-05-06 15:41] Mirrorman95 commented on #90
I already have GeForce Game Ready Driver 430.39.

[2019-05-06 15:55] Evedestroyer commented on #90
@Mirrorman95 did u try install cuDNN and go through cuDNN method? https://developer.nvidia.com/cudnn
It is a deep learning library over CUDA, not to be confused with CUDA itself.

[2019-05-06 16:09] xpirad opened #92 "Too slow to convert"
## Environment Information
I'm using a rtx 2060 on win 10

|Module|Version|
|-|-|
|`video2x`|latest|
|`ffmpeg`|latest|
|`waifu2x-caffe`|latest|
|`waifu2x-converter-cpp`|none|

## Symptom

Trying to up scale a 480p video which is only 10mb~ big into 960p (2x size)
But it's taking way too long, like an hour? (when using waifu2x)
Is it normal?

Also, during the ffmpeg stage
it's not using gpu but cpu

[2019-05-06 16:43] k4yt3x commented on #92
2x upscale an 5MB 240p video, the sample video, takes 12-15 minutes with my 1060 6G. It's normal that it takes that long. Some video takes well beyond 24 hours.

As for FFmpeg, my command did have -hwaccel auto at the end.

[2019-05-06 16:44] k4yt3x commented on #92
Also, I'm rewriting the FFmpeg controller, so there will be some big changes coming out soon.

[2019-05-06 20:19] Ciellent commented on #77
@k4yt3x that video2x works and plays the video perfectly fine with the built-in Windows 10 media player, I think you've fixed it.

[2019-05-06 20:23] k4yt3x commented on #77
@Ciellent perfect. I'll push the update then.

[2019-05-06 20:25] k4yt3x commented on #77
The issue should now be fixed by commit: https://github.com/k4yt3x/video2x/commit/146044505b845224c67c5316580a283f47bd91e8

[2019-05-06 20:25] #77 closed

[2019-05-07 03:18] cr08 commented on #77
It did fix it for me, yes.

[2019-05-07 05:03] xpirad commented on #92
Thanks!

But i just want to know why ffmpeg is not using gpu, even with -hwaccel auto?
And why is it saying Trailing options were found on the commandline.?

[2019-05-08 00:45] k4yt3x commented on #86
This should be fixed with the newest update.

[2019-05-08 00:45] #86 closed

[2019-05-08 00:46] k4yt3x commented on #87
The causes of the problems have been identified, and the issue owner didn't reply in a while. Closing the issue.

[2019-05-08 00:46] #87 closed

[2019-05-08 00:47] k4yt3x commented on #88
@251pigsinspace any updates?

[2019-05-08 15:05] Mirrorman95 commented on #90
After I unzipped it to my CUDA 10.1 installation directory, it said it couldn't be used. But when I put the dll in the waifu2x-caffe folder the setup made me, it said it could be used. But it still gave me a similar error when I ran video2x:

Upscaling Progress:   0%|                                                                     | 0/2080 [00:00<?, ?it/s] エラー: モデルファイルが開けませんでした
エラー: モデルファイルが開け

[2019-05-08 15:34] k4yt3x commented on #90
Which means "Error: Could not open model file".

You've also didn't specify the model file directory correctly.

[2019-05-08 19:47] Mirrorman95 commented on #90
Hey, I think that fixed it! I got rid of the -y statement and changed my json's "model_dir": "models/cunet" to "model_dir": "C:\\Users\\Owner\\AppData\\Local\\video2x\\waifu2x-caffe\\models\\upconv_7_photo", and now it's upscaling again! Thank you.

[2019-05-09 02:06] k4yt3x commented on #90
Well I'm closing it then if it's fixed.

[2019-05-09 02:06] #90 closed

[2019-05-09 02:08] k4yt3x commented on #92
I will investigate this first. There has been improvements made to the FFmpeg controller. I'll see if it's gone.

[2019-05-09 17:56] k4yt3x commented on #92
I don't see more "Trailing options". I think it's fixed.

![image](https://user-images.githubusercontent.com/21986859/57475389-41559500-7262-11e9-9727-efb8cc446025.png)

[2019-05-10 03:29] xpirad commented on #92
Thanks!

[2019-05-10 03:29] #92 closed

[2019-05-12 17:28] Lustrissan opened #93 "Error when upscaling starts"
[code]

[2019-05-13 12:07] k4yt3x commented on #93
This section of the log only tells that waifu2x failed. You'll need to include waifu2x's output for me to be able to see WHY it failed.

[2019-05-14 12:13] cr08 opened #94 "Final mux stage not keeping original non-video tracks/converting primary audio track to ffmpeg's default vorbis"
Something I have noticed come up on my VM platform and kinda swept it aside and have been manually muxing things in until I can try to see if it was a modification I did or something else but then after grabbing a fresh copy of the latest commit on my personal laptop for some different videos I ran into the same thing here as well.

Essentially it looks like the final mux stage is not working appr

[2019-05-15 01:18] k4yt3x commented on #94
I believe that when I changed the `ffmpeg.py` the last time to make it configurable via `video2x.json`, I broke a lot of stuff since when the options are being read, they are no longer in the correct order. I will double check on the final stage to see if I can find out where it went wrong.

[2019-05-17 18:44] Powermann293 opened #95 "Different upscaling Models?"
I was wondering if the ability to use the different upscaling models of Waifu 2x like UpPhoto or UpRGB are supported by the software and if so how do I configure it?

[2019-05-17 19:08] k4yt3x commented on #95
You can specify the model using `--model_dir PATH_TO_MODEL_DIR`.
Note that it's the path to model directory instead of the model's name.

waifu2x-caffe comes with a set of trained models with it. Check its root directory.

[2019-05-18 18:44] Clickin opened #96 "Release exe doesn't follow ffmpeg -pix_fmt settings when using folder input"
While using release edition, I managed to upscale multiple videos at once. But exe version ignores some sort of ffmpeg setting in json config(*I've tested video2x.py works well). My command was `video2x -c video2x.json -m cudnn -i test -o output --width=1920 --height=1080` and setting file follows
[video2x.txt](https://github.com/k4yt3x/video2x/files/3194366/video2x.txt)

Here's ffmpeg frames to v

[2019-05-18 19:23] k4yt3x commented on #96
The exe file is simply outdated. I'll fix it.

[2019-05-18 21:57] k4yt3x commented on #96
Done. See the latest release: https://github.com/k4yt3x/video2x/releases/tag/2.7.1

[2019-05-18 21:57] #96 closed

[2019-05-18 22:23] k4yt3x commented on #94
@cr08 do happen you have a sample video that I can test with?

[2019-05-18 22:24] k4yt3x commented on #93
Issue owner has not responded for over a week. Closing the issue.
Reopen if needed.

[2019-05-18 22:24] #93 closed

[2019-05-18 22:25] k4yt3x commented on #88
The issue has been idle for too long. Closing the issue for now.
Reopen if needed.

[2019-05-18 22:25] #88 closed

[2019-05-19 02:12] Clickin commented on #96
Thanks for fast response

[2019-05-20 15:34] BakaFlame opened #97 "An Exception Has Occurred"
## Environment Information

|Module|Version|
|-|-|
|`video2x`|2.7.1|
|`ffmpeg`||
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||

## Symptom

i followed every steps from here https://github.com/k4yt3x/video2x/wiki/Step-By-Step-Tutorial

but i still cant :(

i used your sample video, did what you say, put it on the desktop and other places as well, but it didnt work :(
replying in chinese is also fin

[2019-05-20 19:58] k4yt3x commented on #97
You might have something like a driver issue.
Do you have CUDA drivers (Nvidia GPU drivers) installed?

[2019-05-21 14:22] BakaFlame commented on #97
yes im using gtx760 388.13 gpu driver version

[2019-05-21 14:33] k4yt3x commented on #97
You're supposed to use that full package one as a command line tool, not double clicking on it.

Have you tried upgrading your drivers? The problem here is that waifu2x didn't give out too much useful information. I can only see that it failed on something, but I don't really know what it failed to do or what caused it. If you can, run waifu2x-caffe on a single image first and see what happens.

[2019-05-21 15:17] BakaFlame commented on #97
now im using cpu, it works but pretty slow, gpu doesnt work again

it shows

Upscaling Progress:   0%|                                                                      | 0/456 [00:00<?, ?it/s]
Upscaling Progress:   0%|                                                                      | 0/456 [00:01<?, ?it/s]Could not create log file: File exists
COULD NOT CREATE LOGFILE '20190521-231052.850

[2019-05-21 15:29] k4yt3x commented on #97
That indicates that you're running our of GPU VRAM.
If you're using multiple threads, cut it down to one.
If you're using only one, I think you might not have enough VRAM...
Try waifu2x-converter-cpp

[2019-05-21 15:38] BakaFlame commented on #97
gtx 760 2g VRAM :((((((((((

and im not running mulitiple threads, im running this only, without gaming or web browsing

[2019-05-21 15:41] k4yt3x commented on #97
2G... might not be enough...
That's the thing about machine learning I guess?

[2019-05-21 15:56] BakaFlame commented on #97
oh well, thanks for answering :D

[2019-05-21 16:05] k4yt3x commented on #97
@BakaFlame do try `waifu2x-converter-cpp` though. That might just work on your 760.

[2019-05-22 17:55] sat3ll commented on #74
Take a look at https://github.com/nihui/waifu2x-ncnn-vulkan.

[2019-05-23 18:33] k4yt3x commented on #95
Question has already been answered, and the original question owner didn't post further responses, therefore closing the issue for now.
Feel free to reopen if needed.

[2019-05-23 18:33] #95 closed

[2019-05-26 21:10] artemiy17012003 opened #99 "Launcher (GUI) for video2x"
## Description
I would like you to do something like a launcher, an external shell for video2x (GUI). So you can open the program and enter the values you want to avoid writing a long command on the command line. That would be awesome!

[2019-05-26 21:15] #97 closed

[2019-05-30 23:28] cr08 commented on #94
Sorry for the late reply. Real life got in the way. I can get you a couple sample clips directly from files I'm working with.

[2019-05-31 02:21] k4yt3x commented on #94
@cr08 yes please. Zip it and upload it here? or any other way that you'd like.

[2019-06-02 07:32] cr08 commented on #94
Here's two clips I've been working with:

[clips.zip](https://github.com/k4yt3x/video2x/files/3244522/clips.zip)

[2019-06-02 21:28] CardinalPanda opened #100 "ffmpeg json issues"
Under

[code]

Setting `-qscale:v` to `2` (anything not null essentially) is an invalid input for ffmpeg.

The culprit ( I believe ) is any filter or qscale needs to go after input, where as in the current wrapper, all the settings are inserted before

I.e

(psuedo code)

`ffmpeg.exe -qscale:v 2 -i input.mkv output.mkv`

Is invalid, but

`ffmpeg.exe -i input.mkv  -qscale:v 2 output.mkv`

Is valid.

[2019-06-02 21:30] CardinalPanda commented on #100
I was able to replicate this on the binaries. I'm not sure how many people this will affect though, most people are using video2x to be lossless, but I needed these commands for dandere2x to work.

[2019-06-04 15:53] k4yt3x commented on #100
@CardinalPanda I'm looking into this right now. Should be able to get this sorted out today.

[2019-06-05 16:19] k4yt3x commented on #100
@CardinalPanda I just pushed a new commit. Please see if it solves the issue

[2019-06-06 05:59] CardinalPanda commented on #100
works!

[2019-06-06 14:44] k4yt3x commented on #100
@CardinalPanda Perfect. I'm closing this issue then.

[2019-06-06 14:44] #100 closed

[2019-06-08 15:33] k4yt3x commented on #94
I upscaled both of them and it works just fine for me.

[output.zip](https://github.com/k4yt3x/video2x/files/3268683/output.zip)

[2019-06-13 20:40] Aidolii opened #101 "All upscaling threads use the last thread's subdirectory"
`python video2x.py -i %~nx1 -o new.mp4 --method=cudnn --threads=3 --width=1920 --height=1080`

[code]

Note that all of the threads are working with `C:\\Users\\Jane\\AppData\\Local\\Temp\\video2x\\tmprizrmkm7\\2`, instead of working with 0, 1, and 2 respectively.

This has had the effect on the final video you would expect.

[2019-06-13 20:59] k4yt3x commented on #101
That's an interesting finding. I didn't observe that before. I'll take a look right away.

[2019-06-13 21:17] k4yt3x commented on #101
OK I know what's going on. The same waifu2x_settings object is being passed on to all threads, which is causing all of them to read the same config.

I'll fix that in a minute.

[2019-06-13 21:25] Aidolii commented on #101
This is probably the issue the poster of #94 was having.

[2019-06-13 21:40] Aidolii opened #102 "'migrate_audio_tracks_subtitles' reuses 'frames_to_video > output_options'"
https://github.com/k4yt3x/video2x/blob/master/bin/ffmpeg.py#L155

no_audio.mp4 is already made with these output options, so specifying them a second time to create a new mp4 file will cause the video stream to be re-encoded.

[2019-06-13 21:49] k4yt3x commented on #101
Yeah it could be.

[2019-06-14 03:49] k4yt3x commented on #101
@Aidolii please verify that this commit fixed the problem: https://github.com/k4yt3x/video2x/commit/8e85d6a6d37796f70938fa81c81e3e0962ad6bbc

[2019-06-14 03:50] k4yt3x commented on #94
@cr08 could you please see if the newest commit (https://github.com/k4yt3x/video2x/commit/8e85d6a6d37796f70938fa81c81e3e0962ad6bbc) fixed the problem for you?

[2019-06-14 04:13] Aidolii commented on #101
The issues are fixed, thank you.

[2019-06-14 04:13] #101 closed

[2019-06-14 05:15] k4yt3x commented on #102
I believe that's there by mistake. See the newest commit's diff.
https://github.com/k4yt3x/video2x/commit/1280a791ecaa94c11e0b46f305d36cc30190f8b7

[2019-06-14 05:15] #102 closed

[2019-06-14 15:05] cr08 commented on #94
Getting closer. So the clip I sent you, filename `CL_S01E00-clip.mkv` which has two audio tracks. Ran it again and it still only gets the first audio track but it does a direct copy. Seems somewhere along the line the migrate stage is only grabbing one of the `-map` directives in the json. Or given the ordering somehow it is saying `-map` should come first given the json config but the actual valu

[2019-06-14 16:57] k4yt3x commented on #94
@Aidolii found another issue last night (#102). Basically there was a typo that influences the program muxing stage.

Sorry about this back and fourth. Could you please check the newest version posted last night?

[2019-06-14 17:15] cr08 commented on #94
I actually did that test with the latest commit 1280a79 and came up with the results mentioned.

[2019-06-14 17:19] k4yt3x commented on #94
@cr08 oh yeah I took a deeper look at the output, and it does appear that your map args are missing. Could you please check the JSON file? There should be a section that looks like this:

![image](https://user-images.githubusercontent.com/21986859/59526465-80fa4700-8ec8-11e9-9d23-5c7640757dd2.png)

Check to see if everything's in place.

[2019-06-14 18:31] cr08 commented on #94
Yep. That is all there. Just to save my sanity I even tried pulling a fresh copy of the repo and reviewing the json about 3 times. It's still doing the same thing with the same INFO line I listed above.

[2019-06-14 18:57] Aidolii commented on #94
@cr08 Can you send me your entire video2x folder along with a bat file containing the command you've been using? With only the relevant clips of course.

[2019-06-14 21:36] cr08 commented on #94
Sure thing.
[video2x.zip](https://github.com/k4yt3x/video2x/files/3292302/video2x.zip)

[2019-06-15 03:35] Aidolii opened #105 "Multiple options of the same type are ignored except for the last"
While troubleshooting #94 I was trying to figure out why it wasn't muxing correctly, `-map 1? -map -1:v?` should work according to the docs. Thinking it might've been a bug with ffmpeg, I tried a different option structure altogether.
[code]

But, much to my surprise, this is apparently what was passed (paths trimmed to make it more readable):
`'ffmpeg.exe', '-i', 'no_audio.mp4', '-i', 'CL_S01E00-

[2019-06-15 03:35] Aidolii commented on #94
#105

[2019-06-16 13:06] maniac236 opened #106 "Unable to execute video2x.py"
When trying to execute video2x.py, a syntax error shows up.

C:\Users\PC-ADMIN\Desktop\upscalers\video2x-master\bin>python video2x.py -m gpu -r 4 -i C:\Users\PC-ADMIN\Desktop\1.mp4 -o C:\Users\PC-ADMIN\Desktop\2.mp4
  File "video2x.py", line 4
    __      __  _       _                  ___   __   __
             ^
SyntaxError: invalid syntax

I'm kinda of a noob but, from what I understand, Python

[2019-06-16 18:25] k4yt3x commented on #106
That's interesting. @BrianPetkovsek just updated the repo so it's backwards compatible with older versions of Python (#104), so this might have something to do with the update.

Try running the setup script and see if that fixes the problem.

[2019-06-16 19:31] AmazingPenis commented on #106
Ok, I will look into it. I'm op btw, had to change accounts.

[2019-06-16 20:18] BrianPetkovsek commented on #106
huh i tested multiple times to see if everything still works.
i'll look into it

[2019-06-16 21:39] BrianPetkovsek commented on #106
should be fixed now

[2019-06-16 21:39] BrianPetkovsek commented on #106
should be fixed now @AmazingPenis @maniac236

[2019-06-17 11:44] rkgs opened #108 "Don't think it's a bug, but trying to run the .exe and it just opens up and closes immediately?"
## Environment Information

|Module|Version|
|-|-|
|`video2x`|2.7.1|
|`ffmpeg`|included|
|`waifu2x-caffe`|included|
|`waifu2x-converter-cpp`|included|

## Symptom

So I downloaded the full version, unzip and try to launch it like it says ("All you need to do is just to launch video2x.exe.") and I see a brief window pop up and then close. I grabbed a screenshot but it doesn't seem like much informa

[2019-06-17 11:51] k4yt3x commented on #108
This means that you do not need to have Python nor the dependencies installed, since the exe packs all of it within the executable.

You'll still have to launch it from the command line with all the arguments.

[2019-06-17 11:51] #108 closed

[2019-06-17 11:52] k4yt3x commented on #106
I'm unable to reproduce this problem.
@BrianPetkovsek did you manage to reproduce it before PR #107?

[2019-06-17 12:30] AmazingPenis commented on #106
Keeps happening. This is pretty weird since I can run dandere just fine.

[2019-06-17 16:09] BrianPetkovsek commented on #106
@AmazingPenis can you try the pull request that might fix the problem [here](https://github.com/BrianPetkovsek/video2x/tree/Fix-encoding-problem)
After downloading the files could you run the **video2x_setup.py** script.
then run video2x.

[2019-06-17 16:19] BrianPetkovsek commented on #106
@k4yt3x it looks like it might be an issue on the chunking future-fstrings uses. chucks halfway through the video2x title and errors because of it.
I was able to reproduce the bug. Simply remove the two newlines from the coding line and the video2x title.
![screenshot](https://i.imgur.com/bd12JJM.png)

make sure future-fstrings is up to date by uninstall and reinstalling it.

[2019-06-17 20:12] AmazingPenis commented on #106
Yep, now it works. Thank you a lot.

[2019-06-18 00:12] rkgs commented on #108
Tried running the master with python after I got it reinstalled and this happens. Really weird because the video2x_setup.py finished without any issue.

![failing](https://user-images.githubusercontent.com/6580931/59643971-1cd5be00-9128-11e9-8970-bbd25f8ea2de.png)

[2019-06-18 00:56] k4yt3x commented on #108
that will be a duplicate problem of #106

[2019-06-18 15:32] k4yt3x commented on #106
This should now be fixed with PR #107.

[2019-06-18 15:32] #106 closed

[2019-06-23 21:56] JohnTravolski opened #109 "Upscale Fails Immediately"
## Environment Information

|Module|Version|
|-|-|
|`video2x`|video2x-2.7.1-win32-full.zip|
|`ffmpeg`|ffmpeg-20190330-5282cba-win64-static|
|`waifu2x-caffe`|ver 1.2.0.2|
|`waifu2x-converter-cpp`|Whatever was included in the zip|

## Symptom

When I attempt to run:
`./video2x -i testinput.mp4 -o out.mp4 -m gpu --width 3840 --height 2160`
I receive a "returned non-zero exit status" error.  The test

[2019-06-24 13:16] gample opened #110 "The "-qscale: v" command for JPEG quality does not work properly."
## Environment Information

|Module|Version|
|-|-|
|`video2x`|`2.7.1`|
|`ffmpeg`|`20190330-5282cba-win64-static`|
|`waifu2x-caffe`|`1.2.0.2`|
|`waifu2x-converter-cpp`|`5.2.4`|

## Symptom
The reason I use jpg instead of png is because I want to use jpg to maintain the yuv420 pixel format of the video file even though it is a lossy compression format, so I used "-qscale: v" command for JPEG quality

[2019-06-24 13:50] k4yt3x commented on #110
It seems like you're using an outdated version. Please try 2.7.2.

[2019-06-24 13:52] k4yt3x commented on #109
That's all that the output said. I'm not sure what's actually going wrong.
Might be a driver issue?

[2019-06-25 08:52] gample commented on #110
The command will not work in the latest release 2.7.1. However, it works well in 2.7.2 source code.
Thank you.

[2019-06-25 14:30] Mark85Mete opened #111 "HELP?"
couldnt run it did I do sth wrong didnt know had to paste it here cause I dont know how to communicate other wise https://cdn.discordapp.com/attachments/444327782831357973/593085256018427904/122.png
[code]

[2019-06-25 23:44] k4yt3x commented on #111
Please refer to the [Step-By-Step Tutorial](https://github.com/K4YT3X/video2x/wiki/Step-By-Step-Tutorial) for usages and sample commands.

[2019-06-25 23:44] k4yt3x commented on #110
Ok perfect.

[2019-06-25 23:44] #110 closed

[2019-06-26 01:07] JohnTravolski commented on #109
How do you advise I troubleshoot this issue?  I'm not sure where to start, and I'd really like to use this tool.

[2019-06-26 01:59] k4yt3x commented on #109
@JohnTravolski Do you have CUDA drivers (just regular Nvidia GPU drivers) installed?

[2019-06-26 10:41] DJPlaya commented on #109
Ime having the same Issue on AMD, latest stable Driver, Win 10 1809 64.

[2019-06-26 10:56] ZaifSenpai commented on #109
I can not run it with gpu either. I am using AMD Radeon RX 560.

I found this repo which works fine with my gpu:
[](https://github.com/WL-Amigo/waifu2x-converter-cpp)

[2019-06-26 16:23] k4yt3x commented on #109
@ZaifSenpai That engine is supported by video2x. Just switch the driver using `-d waifu2x_converter`.

[2019-06-30 01:58] CuddleBear92 opened #113 "Can't force export to .mp4?"
Have some .flv video streams i extracted from flash files i didn't want to encode into a video format cause of the extra time, storage and quality loss it might entail.

video2x exports the final file into an .flv file again when h265 isn't supported, this makes it error out.

Tried adding `"-f": "mp4"` to the video2x.json under `"migrating_tracks":`

That sadly didn't work. HEVC is obviously not

[2019-06-30 02:51] SimplyDex opened #114 "AMD GPU and Error"
I am using the the RX 580 gpu so idk if it works with the cuDNN and stuff like that and I got an exception error problem as well. I don't know how to fix it, I've attached screen shots of it.
![1](https://user-images.githubusercontent.com/25734755/60391613-4f2bd780-9aa7-11e9-8762-6c277961eadb.png)
![2](https://user-images.githubusercontent.com/25734755/60391614-505d0480-9aa7-11e9-9d84-2f923d460f5a

[2019-06-30 05:43] sat3ll commented on #114
1. your input .mkv is failing with FFmpeg. This might be a bug with FFmpeg (video2x_setup goes for the "nightly"/latest releases). To workaround this, convert your input file to another format, such as .mp4. Or manually download a "stable" ffmpeg release and extract the contents to `C:\Users\<your_user>\Appdata\Local\video2x\ffmpeg`. (You might need to enable the option to see hidden folders)
2. w

[2019-06-30 05:46] sat3ll commented on #111
You typed `-gpu` after `-m`. Notice the extra dash. It's either `gpu`, `cudnn` or `cpu`.

[2019-06-30 06:16] #111 closed

[2019-06-30 06:19] k4yt3x commented on #113
It should output H.264 by default.
See the following code section for output options. Modify anything here if you need to.
This section should be modified as well on top of migrating_tracks.

https://github.com/k4yt3x/video2x/blob/8b845e35b37c8bb999a1ddb3732a04ea28cb5539/bin/video2x.json#L65-L70

[2019-06-30 09:52] CuddleBear92 commented on #113
But setting it back to libx264 wouldnt make a difference cause .flv doesn't support that anyway.
also would require me to encode it at a much higher cq and size to get the same quality when i am suppose to run it though an svp encode after the fact. hmmm
Yeah, the issue is that it packages it down to an .flv instead of an .mp4 or .mkv.

The encoding process and frame extraction itself works great.

[2019-06-30 17:37] k4yt3x commented on #113
@CuddleBear92 what's the command that you're using?
I believe specifying `-o output.[extension]` should work.

[2019-06-30 18:22] DJPlaya commented on #65
@k4yt3x
You may want to take a look at the CMD Tools Systeminternals, the PS Tools Collection may has something you could implement simply by doing a cmd call.
This for Example should do the Job > https://docs.microsoft.com/en-us/sysinternals/downloads/pssuspend
Otherwise you could also set the Priority of the Process to "Idle" which would end in a similar Result.

[2019-06-30 18:32] DJPlaya opened #116 "unknown Conversion failed!"
After i had the same bug as #109 i followed your Suggestion and switched the Engine, sadly this also failed for me and ime unsure why.

Some Data about my Machine:
Win 10 x64 1809
16GB DDR3 Memory
Everything should be Up-To-Date on the stable Branch

GPU Driver
[code]

GPU Hardware:
[code]

I used the Following CMD Line:
video2x.exe -d waifu2x_converter -m gpu -t 1 -i "C:\Users\Playa\Desktop\Alfre

[2019-06-30 18:38] k4yt3x commented on #116
Which version of Video2X are you using?
The line numbers don't seem to match up with the newest version.

[2019-06-30 19:01] DJPlaya commented on #116
The latest, 2.7.1

[2019-06-30 19:02] JohnTravolski commented on #109
Apparently I just needed to update my Graphics Driver.  Before, I had
`417.35-notebook-win10-64bit-international-whql-rp`
installed (NVIDIA Geforce GTX 980M).  When I updated to:
`430.86-notebook-win10-64bit-international-whql`
the issue was fixed and I am able to successfully use the GPU to perform the upscaling with no issues.  I'm still not sure why that old driver wouldn't work, but at least t

[2019-07-01 03:50] JohnTravolski opened #117 "Upscaling Video with a 10-bit Color Depth Codec"
## Environment Information

|Module|Version|
|-|-|
|`video2x`|video2x-2.7.1-win32-full.zip|
|`ffmpeg`|ffmpeg-20190330-5282cba-win64-static|
|`waifu2x-caffe`|ver 1.2.0.2|
|`waifu2x-converter-cpp`|Whatever was included in the zip|

## Symptom

When attempting to upscale a video with a color depth of 10 bits per channel (10 bpc), the colors in the output file appear to be muted (less colorful) than t

[2019-07-01 19:02] k4yt3x commented on #117
Theoretically, ffmpeg copies the exact original settings over to the extracted frames/stitched videos. Therefore, it might be the problem of waifu2x? What happens if you take a single extracted frame and upscale it manually with waifu2x?

[2019-07-01 19:26] k4yt3x commented on #109
I remember caffe requires CUDA to be higher than a certain version.
It's good that you got it working.

[2019-07-01 19:26] #109 closed

[2019-07-01 20:30] k4yt3x commented on #116
That is not the latest

[2019-07-01 22:14] #116 closed

[2019-07-01 23:56] JohnTravolski commented on #117
Honestly, I'm not sure what image file formats support 10 bits per channel, so I don't exactly know how to do that.  However, I just took a look at the output video:
![VirtualBox_2019-07-01_18-52-11](https://user-images.githubusercontent.com/36255053/60473151-70203400-9c31-11e9-8b4c-5cc649fa6b8e.png)
It appears that the output video is 8-bits per channel, which makes me believe that the color info

[2019-07-02 03:46] JohnTravolski opened #118 "Last Frame Isn't Rendered"
## Environment Information

|Module|Version|
|-|-|
|`video2x`|video2x-2.7.1-win32-full.zip|
|`ffmpeg`|ffmpeg-20190330-5282cba-win64-static|
|`waifu2x-caffe`|ver 1.2.0.2|
|`waifu2x-converter-cpp`|Whatever was included in the zip|

## Symptom

It appears that Video2X is not including the last frame of the video in the final export for some reason.  I'm not sure if I'm doing something wrong, or where

[2019-07-02 14:38] Mark85Mete opened #119 "Been encountering error"
https://cdn.discordapp.com/attachments/444327782831357973/595624142095515650/222.png

[2019-07-02 14:59] k4yt3x commented on #119
Insufficient GPU VRAM.
Try waifu2x-converter-cpp or a better GPU.

[2019-07-02 14:59] #119 closed

[2019-07-03 02:13] JohnTravolski commented on #117
I dove into the problem a bit more.  I imported the 10 bpc MXF into Adobe After Effects, exported the frames as 16 bpc PNG images to disk, and then used [waifu2x-caffe](https://github.com/lltcggie/waifu2x-caffe) to upscale those PNG images with these options selected:
![waifu2x-caffe_2019-07-02_21-10-58](https://user-images.githubusercontent.com/36255053/60558199-f447e980-9d0d-11e9-8670-da38b19bab

[2019-07-03 07:01] sat3ll commented on #117
Try to substitute all instances of `yuv420p` with `yuv422p` in video2x.json (the ffmpeg sections).

[2019-07-03 15:35] cr08 commented on #117
I think in all steps of the process you will want to verify the component parts are maintaining that bit depth. ie: The video-to-frames stage that involves ffmpeg, ensure ffmpeg is writing out frames at 10 bits or higher and maintaining the same color you expect. waifu2x you'll definitely want to adjust for. Specifically the json file has an `output_depth` option that is defaulted to 8bit and need

[2019-07-04 03:20] k4yt3x commented on #65
@DJPlaya thanks for the suggestions. I would like to be able to use python to do a native API call, or use a C library to call the Windows API, instead of executing a shell command. If all of that don't work out, maybe I can then consider cmd calls.

[2019-07-04 21:36] JohnTravolski commented on #117
Upon further inspection, it seems to be a problem with ffmpeg.  When I attempt the following:

`ffmpeg -y -i testinput5.mxf -pix_fmt yuv422p10le -ss 00:00:00.000 -vframes 1 thumb.png`

I get this image, which has the same problem I observed with Video2X.

![thumb](https://user-images.githubusercontent.com/36255053/60688243-946e5180-9e79-11e9-8f15-63dde8fc6240.png)

Even though the output image is

[2019-07-04 21:44] sat3ll commented on #117
- What if you leave the `-pix_fmt` flag out?
- How did you obtain the 2 different frames in your first post?

[2019-07-04 23:10] JohnTravolski commented on #117
If I leave the `-pix_fmt` flag out, the output images look identical, but they are 8 bits per channel.  I obtained the first two images by importing the MXF and the output file from Video2X into a 16 bpc Adobe After Effects composition and took a screenshot for each.

[2019-07-05 15:03] sat3ll commented on #117
I've did some digging, since amdgpu driver doesn't support 10-bit color (yet, Linux) I can't really spot the differences visually (there's placebo to account too!!).

Your original (correct) picture has this info:
[code]
Bit depth: 8
Format: RGBA (4 components)

FFMPEG default format:
[code]
Bit depth: 16
Format: RGB48be (3 components)

Therefore `-pix_fmt rgba` should do what you're looking for.

[2019-07-06 12:01] CuddleBear92 commented on #113
I am just doing like:
[code]

So just simple input-output folders.
Unsure how to set the extension while keeping the rest of the filenames.
Errors in the filenames like `originalname.flv.mp4` is fine too i guess

[2019-07-10 02:49] k4yt3x commented on #117
@JohnTravolski With the newest commits the color depth issue has been fixed, but I'm not very sure why your video is not put back into a video correctly.

[2019-07-10 02:55] k4yt3x commented on #114
No response from issue owner.

[2019-07-10 02:55] #114 closed

[2019-07-10 02:56] k4yt3x commented on #113
With folders, video2x just copies the input codec.

[2019-07-10 17:27] hirios commented on #74
@k4yt3x
If you could implement for linux. Maybe it was possible to use the project via google colab. We could use google gpu to perform the procedure!

[2019-07-12 04:54] k4yt3x commented on #74
@hirios That would have to come after porting this project to Linux. One step at a time.
It is though, totally possible.

[2019-07-12 04:55] #113 closed

[2019-07-20 14:02] nihui opened #125 "reduce cpu and diskio for updating upscaling progress"
video2x always scan the entire folder to count images per second.
It is quite slow for folders with lots of images, and consumes cpu resource and diskio.

In fact, the waifu2x driver knows the progress, and is able to report the info via printing to stderr or writing to a pipe/file, so that video2x can load the progress immediately. No need to scan filesystem over and over.

[code]

[2019-07-20 18:29] k4yt3x commented on #125
Would love to know how that can be achieved.
I understand scanning the directory isn't an elegant solution.

[2019-07-20 21:20] CodeDashie opened #126 "Use non internal gpu"
Video2X version 2.8.1

https://i.imgur.com/vGZaDjP.jpg
https://i.imgur.com/kRQ656u.jpg

How to use my non internal gpu (NVIDIA GeForce GTX 1050)? Using a laptop. Awesome program btw. Thanks.

[2019-07-20 22:14] k4yt3x commented on #126
You can change the GPU id used by waifu2x.

![2019-07-20_18-12-54](https://user-images.githubusercontent.com/21986859/61584687-a91a3d00-ab3b-11e9-885b-a0d2ebc4a5de.png)

[2019-07-23 19:45] hart0 commented on #65
I tried pausing and resuming (both the waifu2x and python processes since python continued to use significant CPU usage with waifu2x being paused) and when I tried to resume it ended up crashing and deleting all of the images/folders in the temp folder. I assumed if anything would happen I could just restart the waifu2x-caffe process using the same input/output paths.

Unfortunate because I was 48

[2019-07-25 00:12] thepinkbanana opened #127 "ERROR: An exception has occurred"
Hi, this is my second attempt using this tool. I got the same error about can't open extracted frame.
I installed the tool with video2x_setup.py. The only difference I added between each attempt is I updated my NVIDIA driver to latest version before running the 2nd attempt.
I do notice however I keep running out of space of my C: drive (running the C: drive with 128 GB SSD and I'm using a whole fu

[2019-07-25 00:38] k4yt3x commented on #127
[code]

Are you sure you have enough disk space?

[2019-07-25 01:15] thepinkbanana commented on #127
Yeah, that's exactly I was worrying about. I don't unfortunately for a whole movie, running C: with 128 GB SSD and I only have like 45 GB free.
Is it possible to change where the temp folder video2x would use? I do have much more space on D: partition with hard drive.

[2019-07-25 01:42] thepinkbanana commented on #127
Never mind, figured it out.
On line 300-301 of video2x.py I can change it to specific path.
`if not video2x_cache_directory:`
`video2x_cache_directory = "D:\\New Folder"`

Thanks anyway for the help!

[2019-07-25 01:42] #127 closed

[2019-07-25 02:49] k4yt3x commented on #127
@thepinkbanana This is what  you actually need in `video2x.json` configuration file.
![2019-07-24_22-48-58](https://user-images.githubusercontent.com/21986859/61842183-cd04b800-ae86-11e9-8f1c-9a98c074848f.png)

[2019-07-25 03:22] k4yt3x commented on #117
This should be implemented already

[2019-07-25 03:22] #117 closed

[2019-07-26 05:20] ShikiSuen commented on #84
@k4yt3x What about installing a hackintosh on your current PC desktop with compatible AMD graphics? There is a high possibility that your own AMD graphics is natively supported by macOS.

[2019-07-26 05:28] k4yt3x commented on #84
@ShikiSuen I run ESXi, not bare metal.
Hackintosh might support AMD, but not ESXi.

[2019-07-26 10:32] thepinkbanana commented on #127
Well.... I never said I'm not an idiot, I didn't check the json file :P
Thanks, will do it and fix it properly.

[2019-07-26 18:23] k4yt3x commented on #94
I just pushed a new commit (https://github.com/k4yt3x/video2x/commit/5151be4122369cc11f71ad50fc2e60e25b0fe33e) which should address this issue.

[2019-07-26 18:25] #126 closed

[2019-07-27 18:12] Aidolii commented on #94
Seems to be working, on my end. I think if @cr08 has any issues with the output, all it would take is tweaking some json settings at this point.

[2019-07-27 19:20] k4yt3x commented on #94
If it's fixed then I'm closing the two issues.

[2019-07-27 19:20] #94 closed

[2019-07-27 19:20] #105 closed

[2019-07-27 20:18] k4yt3x opened #128 "Research: nnedi3 deinterlaced frame interpolation"
## Description

This issue is a research project on the feasibility to integrate nnedi3 to speed up upscaling.

## Resources

http://avisynth.nl/index.php/Nnedi3
https://www.reddit.com/r/Dandere2x/comments/c38hj0/it_may_not_be_worth_it_to_upscale_all_the_way_to/

[2019-07-27 22:02] k4yt3x commented on #118
2.7.1 release is quite old. Could you please see if the problem still exists in the newest python version?

[2019-07-30 05:17] k4yt3x commented on #99
The newest pull request introduced Video2X GUI.
Take a look, it's located at `bin/video2x_gui.py`.

[2019-07-30 05:17] #99 closed

[2019-08-01 13:45] cr08 commented on #94
Sorry it took so long to reply back. Had to get my VM operational again after upgrading Proxmox and waiting for a batch task to complete. Can confirm this solved the issue on my end.

[2019-08-01 14:33] k4yt3x commented on #94
@cr08 beautiful. Good to hear that.

[2019-08-03 17:28] NNowakowski opened #131 "Upload new release version"
Is it possible for you to upload a new release version.
The last release is v2.7.1 while the project is already on v2.9.0
I'd like to try out the vulkan driver which isn't supported in v2.7.1 yet but would rather not go through all the hassle to install everything myself.

[2019-08-03 23:01] k4yt3x commented on #131
Sure. Will work on it.

[2019-08-03 23:44] k4yt3x commented on #131
2.9.0 release published.

[2019-08-03 23:44] #131 closed

[2019-08-07 00:18] Criuion opened #132 "Upscaling Completes at 0%"
## Environment Information

|Module|Version|
|-|-|
|`video2x`| 2.9.0-win32-full |
|`ffmpeg`| ffmpeg-20190729-43891ea-win64-static |
|`waifu2x-caffe`| ver 1.2.0.2 |
|`waifu2x-converter-cpp`| Not Available |

## Symptom

First time using Video2x it worked with no problem, ever since then it won't upscale and says it's completed upscaling in the command window.  It just sits there doing nothing and h

[2019-08-07 01:47] Criuion commented on #132
I am sure anyone that knows what the problem is screaming at their screen as soon as they read my OP, but i had no clue to the restrictions for the upscalers.  Only reason i figured it out was i went back to 2.7.1 and used the command window and it told me of the limitations.

If you would kindly please add some kind of warning in the GUI 2.9.1 version about these limitations, so plebs like me don

[2019-08-07 01:50] k4yt3x commented on #132
This is a known issue and there has been discussions around it in the telegram group.
I think the newest python updates should have fixed it. Let me confirm

[2019-08-08 02:04] k4yt3x commented on #132
It's working fine for me.

![2019-08-07_22-02-56](https://user-images.githubusercontent.com/21986859/62669881-d27ef980-b980-11e9-8661-6d12e1b1838b.png)

[2019-08-08 02:17] #132 closed

[2019-08-08 07:15] HunterAP23 opened #133 "Image is "in use by another process""
## Environment Information

|commit e12db41213a87f5dce072373023b393f23b2bcb5|
|`Video2X`||

## Symptom

Sometimes while running a job, I run into a what seems to be a threading issue where a process is trying to access an image that is in use by another process.
These can occur both when taking the extracted frames and feeding into the waifu2x programs, or when takign the upscaled images and givin

[2019-08-08 17:39] HunterAP23 commented on #133
I believe I fixed it by changing some stuff in line 210 of upscaler.py:

[code]

[2019-08-08 18:35] HunterAP23 commented on #133
Came across another instance of the same issue and applied a similar change on line 163 in ffmpeg.py:

[code]

[2019-08-08 19:22] k4yt3x commented on #133
I'll take a look into the error.
You can upscale an entire folder of videos. Just do `-i [folder]` instead of using a for loop.

[2019-08-09 00:59] ImportTaste opened #134 "hwaccel doesn't work due to position in the command line"
You can't use -hwaccel at the end of an ffmpeg command, it has to be before the input. AFAIK -y can be used anywhere though, so:

This line
https://github.com/k4yt3x/video2x/blob/e12db41213a87f5dce072373023b393f23b2bcb5/bin/ffmpeg.py#L133

Should be moved up before https://github.com/k4yt3x/video2x/blob/e12db41213a87f5dce072373023b393f23b2bcb5/bin/ffmpeg.py#L122-L125

[2019-08-09 01:01] k4yt3x commented on #134
Acknowledged. Will fix.

[2019-08-10 13:09] sjscotti opened #135 "output_depth in converted images does not change from default of 8"
## Environment Information

|Module|Version|
|-|-|
|`Video2X`|2.9.0|
|`FFmpeg`||
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||
|`waifu2x-ncnn-vulkan`||

## Symptom

I set the `output_depth` value in the json file to 16, but the images saved in temp folder appear to be 8 bit per channel (i.e., they show up as bit depth of 32 in windows file explorer list.)  I am using png for the image format.

##

[2019-08-10 15:43] justinian-balaskas commented on #134
OMFG I couldn't figure this out for the life of me

[2019-08-12 03:56] k4yt3x commented on #134
![2019-08-11_23-56-01](https://user-images.githubusercontent.com/21986859/62845117-26f1e400-bcb5-11e9-8d9d-c186ff55521c.png)

I think that's fixed.

[2019-08-12 03:56] #134 closed

[2019-08-12 04:04] k4yt3x commented on #135
Currently, v2x automatically detects appropriate image color depth from video codec.
Do you want to be able to overwrite the settings? I don't think making the color depth higher than input file codec will do you any good though.

![2019-08-12_0-03-17](https://user-images.githubusercontent.com/21986859/62845266-260d8200-bcb6-11e9-90bc-693ccaaba21c.png)

[2019-08-12 11:11] sjscotti commented on #135
Hi
Thanks for the speedy response!  In my case, my input video was yuv420p which the figure above says has 12 bits per color channel (if I am interpreting what "bits_per_pixel" means correctly).  In the step of executing waifu2x from within video2x, the outputs from waifu2x are png files having 8 bits per color channel by default.  Setting the `output_depth` to 16 should have switched the png file

[2019-08-14 22:12] Senjar opened #136 "video2x stuck after upscaling all images"
## Environment Information

|Module|Version|
|-|-|
|`Video2X`|2.9.0|
|`FFmpeg`|4.1.3|
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||
|`waifu2x-ncnn-vulkan`||

Using Cuda with nvidia GPU

## Symptom

video2x is stuck at [+] INFO: Killing upscaled image cleaner

waifu2x-caffe is not running. I checked.
I have about 200Gb of upscaled images (+200Gb of extracted). if I close the terminal I'm pretty sur

[2019-08-14 23:26] k4yt3x commented on #136
I'm not sure why that's happening -- this is the first instance reporting this issue.

I have looked into the code that's responsible for that portion, and I'm still not quite sure why the process was stuck in a loop. I'll continue investigating and make sure this bug is resolved.

Unfortunately, Video2X currently doesn't have the ability to continue its work from extracted frames. **However**, it

[2019-08-14 23:32] k4yt3x commented on #135
Just to let you know, is issue is acknowledged and investigation is in progress. However, due to the exam week schedule, it will take extra time to have this figured out.

[2019-08-15 12:56] Senjar commented on #136
I have now backed up all the upscaled images so it's fine. Take your time. Thanks

[2019-08-17 04:37] Suleman-Elahi opened #138 "How to use Anime4k"
![image](https://user-images.githubusercontent.com/24384996/63206674-ac6efd00-c0d6-11e9-8955-510213a7255e.png)

How to use Anime4k for the enlarging process. There is no option for that on the GUI.
ps im a beginner in python

[2019-08-17 05:14] Suleman-Elahi commented on #138
It also stuck every time no matter the method I choose.
![image](https://user-images.githubusercontent.com/24384996/63206948-e4c50a00-c0db-11e9-9358-f0857f67e53f.png)

[2019-08-17 05:36] k4yt3x commented on #138
The Anime4K feature has just been added, and is not in any stable releases yet.
If you would like to try it out, please run the source code directly.

[2019-08-17 06:55] Suleman-Elahi commented on #138
And what about `Subprocess.CalledProcessError` ?I am getting it with every method and every driver.

[2019-08-17 07:35] k4yt3x commented on #138
Read the error message. Your CUDA driver needs to be updated.

[2019-08-17 16:52] #138 closed

[2019-08-21 01:17] samuelboland opened #139 "Unable to download Anime4k with video2x_setup.py"
## Environment Information

|Module|Version|
|-|-|
|`Video2X` |2.10.0|
|`FFmpeg`||
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||
|`waifu2x-ncnn-vulkan`||

SHA = 2b63b5f0a62f65d78229aa6347a7a59bdfc9927c
## Symptom

Cannot download Anime4k with video2x_setup.py.

## Screenshots or Error Messages

[code]

## Discussion

According to https://api.github.com/repos/bloc97/Anime4K/releases:
[code]

[2019-08-21 01:43] samuelboland commented on #139
I was able to download the rest by modifying video2x_setup.py and putting the "with" portion in the "if" block starting on line 210. I suppose I could have just removed that entire section too.

[2019-08-21 02:42] k4yt3x commented on #139
If you only want to download a specific driver, then you can use `-d [driver name]`.
I have applied a temporary fix for Anime4K's download link. It's now redirected to my cached zip file of Anime4K release zip.

I'll figure out how to keep that zip file updated later, but that should solve the problem for now.
Thanks for reporting the bug.

[2019-08-21 02:42] #139 closed

[2019-08-21 03:26] samuelboland commented on #139
Neat, thanks for that, I did want to try out Anime4k.

Thanks for making this! Have a good one.

[2019-08-21 18:59] epiccofficial opened #140 "Can't change the directory of output frames."
Using waifu2x-caffe on Video2x version 2.9.0 (also using the GUI and video2x-2.9.0-win32-full if that helps)

I can't change the directory of output frames.

When I change "video2x_cache_directory" to (using 2 slashes) "\\cache", (a folder I made in the video2x directory) in video2x,json, it still puts it onto my C drive in appdata. How can I change it so that it would put the extracted and upscal

[2019-08-21 19:04] k4yt3x commented on #140
`\cache` would have been parsed to `C:\cache` though.
If you want a relative directory, delete the slash.

[2019-08-21 19:08] epiccofficial commented on #140
Even after removing the slash, it still says:
[code]
This is what the video2x.json is like:
[code]

[2019-08-21 19:10] k4yt3x commented on #140
Have you tried running the Python version directly?

[2019-08-21 19:14] epiccofficial commented on #140
How do I get the python version?

[2019-08-21 19:14] k4yt3x commented on #140
https://github.com/K4YT3X/video2x/wiki/Step-By-Step-Tutorial

[2019-08-21 19:15] epiccofficial commented on #140
Thanks.

[2019-08-21 20:06] epiccofficial commented on #140
Yeah, just got it to work. Thanks for your help!

[2019-08-21 20:06] #140 closed

[2019-08-21 22:07] k4yt3x commented on #140
Glad to hear that it worked. I'll make a new build so people using the exe version won't run into the same problem again.

I might setup GitHub Actions later so we'll have nightly builds.

[2019-08-25 10:02] raijin90 opened #141 "Anime4k directory problem video2x_setup.py"
## Environment Information

|Module|Version|
|-|-|
|`Video2X`||
|`FFmpeg`||
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||
|`waifu2x-ncnn-vulkan`||

## Symptom

Briefly describe what's going on.

## Screenshots or Error Messages

Please paste screenshots or error messages here.
Include as much details as you can, as this greatly helps debugging the problem.

Please paste your error message in the c

[2019-08-25 10:15] Smarthard commented on #141
Check paths of Anime4K in `video2x\bin\video2x.json`, because default value is "anime4k_path": "C:\\Users\\**K4YT3X**\\AppData\\Local\\video2x\\anime4k\\Anime4K.jar", change **K4YT3X** to your username (**MAN**, I suppose)

[2019-08-25 10:26] raijin90 commented on #141
I already can run the program by bringing out Anime4k.jar that is inside another anime4k file

[2019-08-26 03:00] k4yt3x commented on #141
Problem should be resolved now.

[2019-08-26 03:00] #141 closed

[2019-08-27 12:22] Ghost---Shadow opened #142 "[Feature request] VLC addon"
## Description

Addon for VLC media player which upscales the video on the fly. (Or maybe buffers a bit, thats ok too, I will wait)

## Sources

https://addons.videolan.org/

[2019-08-27 19:06] verbiate opened #143 "Unable to process a folder"
## Environment Information

|Module|Version|
|-|-|
|`Video2X`|2.9.0|
|`FFmpeg`|N-94405-g43891ea8ab|
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||
|`waifu2x-ncnn-vulkan`||

## Symptom

Following [a tip I saw you'd posted](https://github.com/k4yt3x/video2x/issues/133#issuecomment-519653997) in response to another bug, I tried upscaling a folder of videos. However, ffmpeg throws an exception saying "

[2019-08-27 19:23] k4yt3x commented on #142
A video that's a few minutes long might take up to hours to upscale.
There's no way to make waifu2x real time.

[2019-08-28 03:27] Ghost---Shadow commented on #142
:(

[2019-08-28 03:27] #142 closed

[2019-08-29 03:43] k4yt3x commented on #143
Did you make input folder and output folder the same folder?

[2019-08-29 20:56] k4yt3x commented on #143
Check out the newest commit. It should have fixed the problem.

[2019-08-29 20:59] verbiate commented on #143
Awesome! Will try tonight 👍

On Thu, Aug 29, 2019 at 1:57 PM K4YT3X <notifications@github.com> wrote:

[2019-08-30 02:53] verbiate commented on #143
Works like a charm. Thanks!

[2019-08-30 02:53] #143 closed

[2019-08-30 04:40] k4yt3x commented on #143
Nice to hear that.

[2019-08-31 08:54] verbiate commented on #8
Seeing the error again on version 2.10.0:

`[!] ERROR: An exception has occurred
Traceback (most recent call last):
  File "video2x.py", line 431, in <module>
    upscaler.run()
  File "E:\upscale\video2x-2.9.0-win32-full\video2x-master-batchfix\bin\upscaler.py", line 334, in run
    framerate = float(Fraction(video_info['streams'][video_stream_index]['avg_frame_rate']))
  File "C:\Program Files\P

[2019-08-31 09:24] k4yt3x commented on #8
`/bin/ffprobe.exe`? That sounds so *nix.
Try the newest version (2.10.0) instead of the release. The exe release isn't as up-to-date as the python source code. I might automate this packaging later using GitHub Actions so the exe is up to date. However, for now, I recommend you to try the python version as it fixed some problems in 2.9.0.

[2019-08-31 16:05] verbiate commented on #8
As I mentioned, I am running 2.10.0, not 2.9.0.

[2019-08-31 23:42] k4yt3x commented on #8
@verbiate ok got it.
Could you please open a new issue for this error?

[2019-09-01 08:33] ddouglas87 commented on #74
I've been using Video2x on Mint 19.2 (Ubuntu 18.04) for a bit now without issue.

(I'm using NVIDIA for my gpu acceleration.  I have no idea if waifu2x-caffe supports AMD.)

For anyone who wants to run Video2X on Linux it's surprisingly easy.  Here are some easy to follow instructions to get Video2X setup on your machine:

Install Dependencies (mostly for waifu2x-caffe):
--
`apt install build-esse

[2019-09-01 11:54] k4yt3x commented on #74
@ddouglas87 what a waste to put it in an issue.
Do you want to just write it into the Wiki?

[2019-09-01 19:12] hirios opened #144 "[Question] Use anime4k"
Does this command use anime4k?
```python video2x.py -i sample_input.mp4 -o sample_output.mp4 -m cpu --width=1920 --height=1080```

[2019-09-01 22:32] WSADKeysGaming commented on #144
video2x is based around waifu2x, not anime4k.

[2019-09-02 00:27] ddouglas87 commented on #74
Thanks.  This is all new to me, so it means a lot to me that you think highly of it.

I would but before that there a few bugs that could be fixed first.  Most notably two things:

1) Waifu2x-caffe should be able to use the distro's libcaffe-cuda-dev package, and I suspect the reason it can not is because I've messed up my dependencies on my desktop.  (Specifically, libcaffe-cuda-dev runs on CUDA

[2019-09-02 06:51] verbiate opened #145 "ZeroDivisionError in 2.10.0"
## Environment Information

|Module|Version|
|-|-|
|`Video2X`|2.10.0|
|`FFmpeg`|N-94405-g43891ea8ab|
|`waifu2x-caffe`||
|`waifu2x-converter-cpp`||
|`waifu2x-ncnn-vulkan`||

## Symptom

Getting a "ZeroDivisionError" in version 2.10.0

Interestingly, the line before says it's calling \bin\ffprobe.exe, but I'm running the Python scripts directly and that executable isn't located in \bin

## Screensho

[2019-09-02 18:00] k4yt3x commented on #144
add `-d anime4k`

[2019-09-02 18:00] #144 closed

[2019-09-03 14:21] k4yt3x commented on #145
Theoretically, there's supposed to be a "avg_frame_rate" key in the ffprobe output like such:

![2019-09-03_10-20-24](https://user-images.githubusercontent.com/21986859/64181463-02bd9900-ce56-11e9-9bc5-bc89528769cf.png)

I'm not quite sure why the value of that key in your case evaluates to x/0.
Here's the command if you want to try it yourself to get an output.

[code]